

<div class="widget-body">

    <table id="familyTable" class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>
                    <label class="position-relative">
                        <input type="checkbox" class="ace" />
                        <span class="lbl"></span>
                    </label>
                </th>
                <th>Mã gia đình</th>
                <th>Tên gia đình</th>
                <th>Chủ hộ</th>
                <th>Số lượng người</th>
                <th>Điện thoại</th>
                <th>Giáo khu</th>
                <th>Giáo họ</th>
                <th>Thao tác</th>
            </tr>
        </thead>

        <tbody></tbody>

    </table>

</div>


@Html.Partial("_FamilyInformation")
@Html.Partial("_LookupParishionerModal")
@Html.Partial("_ViewReadonlyFamilyModal")
@Html.Partial("_ParishionerInformation")

<script>
    $(document).on('click', 'th input:checkbox', function () {
        var that = this;
        $(this).closest('table').find('tr > td:first-child input:checkbox')
            .each(function () {
                this.checked = that.checked;
                $(this).closest('tr').toggleClass('selected');
            });
    });

    initFamilyDatatable();
    var currentRoleId = $("#txtHiddenRoleId").val();
    var currentManagerId = $("#txtManagerId").val();

    function initFamilyDatatable() {
        startLoading();
        $("#familyTable").dataTable({
            "bRetrieve": true,
            "bServerSide": true,
            "bScrollCollapse": true,
            "sAjaxSource": "/Family/LoadFamiliesDatatables",
            "aLengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "Tất cả"]],
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "communityId", "value": $("#cbbCommunity").val() });
                aoData.push({ "name": "parishDivisionId", "value": $("#cbbParishDivision").val() });
                aoData.push({ "name": "isCounted", "value": $("#cbFilterIsCounted").is(':checked') ? false : true });
                aoData.push({ "name": "status", "value": $("#cbFilterSavedStatus").is(':checked') ? 0 : 1 });
                aoData.push({ "name": "changeParishFamily", "value": $("#cbChangeParishFamily").is(':checked') ? 1 : 0 });
            },
            "oLanguage": {
                "sSearch": "Mã gia đình/ Tên gia đình/ Chủ hộ",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "sInfoEmpty": "",
                "oPaginate": {
                    "sPrevious": "Trước",
                    "sNext": "Sau"
                }
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0,1,6],
                    "bVisible": false,
                },
                {
                    "aTargets": [1],
                    "render": function (data, type, full, meta) {
                        var content = '<label class="position-relative">' +
                            '<input type="checkbox" class="ace" value="' + data + '"/>' +
                            '<span class="lbl"></span> </label>';
                        return content;
                    },
                    "bSortable": false
                },
                {
                    "aTargets": [9],
                    "render": function (data, type, full, meta) {

                        var content = "";
                        var saveStorage = $("#cbFilterSavedStatus").is(':checked');

                        if (saveStorage) {
                            //Neu trong ho so luu tru

                            if (full[0] >= -1) {
                                //    content = '<button class="btn btn-minier btn-primary" onclick="loadFamilyById(' + data + ')"><i class="ace-icon fa fa-pencil"></i>&nbsp;Sửa</button>';
                                content += '<button class="btn btn-minier btn-primary" onclick="loadReadonlyFamilyById(' + data + ')">' +
                                    '<i class="ace-icon fa fa-search-plus"></i>&nbsp;Chi tiết</button>';

                                content += '<button class="btn btn-minier btn-inverse" onclick="undoFamily(' + data + ')"><i class="ace-icon fa fa-undo"></i>&nbsp;Phục hồi</button>';

                                if (currentRoleId == currentManagerId) {
                                    content += '<button class="btn btn-minier btn-danger" onclick="deleteFamilyInSaveStorage(' + data + ')">' + '<i class="ace-icon fa fa-trash-o"></i>&nbsp;Xóa</button>';
                                }
                            } else {
                                content = '<button class="btn btn-minier btn-primary" onclick="loadReadonlyFamilyById(' + data + ')">' +
                                    '<i class="ace-icon fa fa-search-plus"></i>&nbsp;Chi tiết</button>';
                            }

                        } else {
                            //Binh thuong

                            content = '<button class="btn btn-minier btn-primary" onclick="loadFamilyById(' + data + ')"><i class="ace-icon fa fa-pencil"></i>&nbsp;Sửa</button>';
                            content += '<button class="btn btn-minier btn-danger" onclick="deleteFamily(' + data + ')">' + '<i class="ace-icon fa fa-trash-o"></i>&nbsp;Xóa</button>';
                        }

                        return content;

                    },
                    "bSortable": false
                }
            ],
            "bAutoWidth": false,
        });

    }

    //Thay doi trang thai thong ke
    $("#cbbFamilyCommunity").change(function () {
        var defaultId = $("#defaultCommunity").val();
        var value = $(this).val();

        if (value == defaultId) {
            $("#cbFamilyIsCounted").prop("checked", true);
            $("#cbFamilyIsCounted").attr("disabled", true);
        } else {
            $("#cbFamilyIsCounted").attr("disabled", false);
            $("#cbFamilyIsCounted").prop("checked", false);
        }
    });

    $("#cbbCommunity").change(function () {

        var defaultCommunity = $("#defaultCommunity").val();
        if ($(this).val() == defaultCommunity) {
            $("#cbFilterIsCounted").prop("checked", true);
            $("#cbFilterIsCounted").attr("disabled", true);
        }
        else {
            $("#cbFilterIsCounted").prop("checked", false);
            $("#cbFilterIsCounted").attr("disabled", false);
        }

        loadParishDivisionsByCommunityId();
        updateTableContent("familyTable");
      //  $("#familyTable").dataTable()._fnAjaxUpdate();
    });

    $("#cbbParishDivision").change(function () {
        updateTableContent("familyTable");
    //    $("#familyTable").dataTable()._fnAjaxUpdate();
    });

    $("#cbFilterIsCounted").change(function () {
        updateTableContent("familyTable");
      //  $("#familyTable").dataTable()._fnAjaxUpdate();
    });

    $("#cbFilterSavedStatus").change(function () {
        updateTableContent("familyTable");
    //    $("#familyTable").dataTable()._fnAjaxUpdate();
    });

    $("#btnCreateFamily").click(function () {
        $("#familyModal").modal('show');
    });

    function loadParishDivisionsByCommunityId() {
        $.ajax({
            url: "/Parishioner/LoadParishDivisionsByCommunityId",
            type: "POST",
            async: false,
            data: { communityId: $("#cbbCommunity").val() },
            success: function (data) {

                var element = $("#cbbParishDivision");
                //append data
                element.html("");
                element.append("<option value='0'>Tất cả</option>");
                var list = data.result;

                for (var i in list) {
                    element.append("<option value='" + list[i].Id + "'>" + list[i].Name + "</option>");
                }

            },
        });
    }

    // Dac biet nen luu y
    function deleteFamily(id) {

        var message = "<p>Bạn muốn xóa vĩnh viễn gia đình được chọn không?</p>";

        bootbox.dialog({
            closeButton: false,
            message: message,
            title: "Xác nhận xóa",
            buttons: {
                save: {
                    label: " Đưa vào hồ sơ lưu trữ",
                    className: "ace-icon fa fa-save btn-primary",
                    callback: function () {
                        changeFamilyStatus(id, 0, false);
                    }
                },
                danger: {
                    label: " Xóa vĩnh viễn",
                    className: "ace-icon fa fa-trash-o btn-danger",
                    callback: function () {
                        changeFamilyStatus(id, -1, false);
                    }
                },
                main: {
                    label: " Đóng",
                    className: "ace-icon fa fa-times btn-default",
                    callback: function () {

                    }
                }
            }
        });
    }

    function changeFamilyStatus(id, status, isForced) {
        startLoading();
        $.ajax({
            url: "/Family/ChangeFamilyStatus",
            type: "POST",
            data: {
                id: id,
                status: status,
                isForced: isForced
            },
            success: function (data) {

                if (data > 0) {

                    if (status == 0) {
                        showMessage("Đưa gia đình vào hồ sơ lưu trữ thành công", 1);
                    } else if (status == -1) {
                        showMessage("Xóa gia đình thành công", 1);
                    } else {
                        showMessage("Phục hồi gia đình thành công", 1);
                    }

                    updateTableContent("familyTable");
                  //  $("#familyTable").dataTable()._fnAjaxUpdate();

                } else {

                    if (status == 0) {
                        showMessage("Đưa gia đình vào hồ sơ lưu trữ thất bại", 0);
                    }
                    else if (data == -3) {

                        //Cho nay xem coi phai manager ko thi confirm lan nua con ko thi thoi
                        if (currentRoleId == currentManagerId) {
                            confirmAgainToSureDelete(id);
                        }
                        else {
                            showMessage("Không thể xóa gia đình đang có chứa thành viên", -1, 6000);
                        }

                    }
                    else if (data == -4) {
                        showMessage("Không thể phục hồi gia đình đang chờ chuyển xứ, vui lòng hủy thông tin chuyển xứ để có thể phục hồi gia đình này", -1, 6000);
                    }
                    else if (data == -5) {
                        showMessage("Không thể xóa gia đình đang chờ chuyển xứ, vui lòng hủy thông tin chuyển xứ để có thể xóa gia đình này", -1, 6000);
                    }
                    else {
                        showMessage("Xóa gia đình thất bại, vui lòng thử lại sau", 0);
                    }     

                }

            },
        });

    }

    function confirmAgainToSureDelete(id) {

        var message = "<p>Gia đình này đang có chứa thành viên</p> " +
                      "<p>Bạn có thực sự muốn xóa vĩnh viễn gia đình này không ?</p>";

        bootbox.dialog({
            closeButton: false,
            message: message,
            title: "Xác nhận xóa",
            buttons: {
                danger: {
                    label: " Có",
                    className: "ace-icon fa fa-check btn-info",
                    callback: function () {
                        changeFamilyStatus(id, -1, true);
                    }
                },
                main: {
                    label: " Đóng",
                    className: "ace-icon fa fa-times btn-default",
                    callback: function () {
                    }
                }
            }
        });
    }

    function undoFamily(id) {
        var message = "<p>Bạn có muốn phục hồi gia đình được chọn không?</p>";

        bootbox.dialog({
            closeButton: false,
            message: message,
            title: "Xác nhận phục hồi",
            buttons: {
                danger: {
                    label: " Có",
                    className: "ace-icon fa fa-check btn-info",
                    callback: function () {
                        changeFamilyStatus(id, 1, false);
                    }
                },
                main: {
                    label: " Đóng",
                    className: "ace-icon fa fa-times btn-default",
                    callback: function () {
                    }
                }
            }
        });
    }

    function deleteFamilyInSaveStorage(id) {
        var message = "<p>Bạn muốn xóa vĩnh viễn gia đình được chọn không?</p>";

        bootbox.dialog({
            closeButton: false,
            message: message,
            title: "Xác nhận xóa",
            buttons: {
                danger: {
                    label: " Xóa vĩnh viễn",
                    className: "ace-icon fa fa-trash-o btn-danger",
                    callback: function () {
                        changeFamilyStatus(id, -1, false);
                    }
                },
                main: {
                    label: " Đóng",
                    className: "ace-icon fa fa-times btn-default",
                    callback: function () {

                    }
                }
            }
        });
    }
    //--------------------------


    function loadFamilyById(id) {
        startLoading();
        $.ajax({
            url: "/Family/GetFamilyById",
            type: "POST",
            data: { id: id },
            success: function (data) {

                var item = data.result;

                if (item) {

                    $("#txtFamilyCode").val(item.Code);
                    $("#txtFamilyCode").attr('readonly', true);
                    $("#divFamilyCode").show();

                    $("#txtHiddenFamilyId").val(item.Id);
                    $("#txtFamilyName").val(item.Name);
                    $("#cbbFamilyCommunity").val(data.communityId);
                    $("#cbbFamilyCommunity").change();

                    $("#txtFamilyPhone").val(item.Phone);
                    $("#txtFamilyAddress").val(item.Address);
                    $("#cbFamilyIsCounted").prop("checked", (item.IsCounted ? false : true));
                    $("#txtFamilyNote").val(item.Note);

                    $("#cbbFamilyDomicileStatus").prop("disabled", false);
                    $("#cbbFamilyDomicileStatus").val(item.DomicileStatus);
                    $("#cbbFamilyDomicileStatus").change();
                    $("#txtFamilyDomicilePlace").val(item.DomicilePlace);

                    $("#btnAddFamily").hide();
                    $("#btnUpdateFamily").show();
                    $("#familyTitle").text("Chỉnh sửa gia đình");

                    refreshFamilyMemberTable();
                    $("#familyModal").modal('show');

                } else {

                }

            },
        });

    }
</script>

