@using PMS.DataAccess.Enumerations;
<input type="hidden" id="hiddenParishionerIdLookupModal" value="0" />
<input type="hidden" id="hiddenActionLookupModal" value="0" />
<input type="hidden" id="hiddenTargetIdLookupModal" value="0" />
<input type="hidden" id="hiddenIdLookupModal" value="0" />
<input type="hidden" id="hiddenGenderLookupModal" value="-1" />
<input type="hidden" id="hiddenNotSacramentType" value="0" />
<input type="hidden" id="hiddenFilterMatrimony" value="0"/>
<input type="hidden" id="hiddenLookupSacramentDate" value="" />
<input type="hidden" id="hiddenLookupFamilyId" value="0" />
<input type="hidden" id="hiddenLookupSocietyId" value="0" />
<input type="hidden" id="hiddenLookupClassGroupId" value="0" />
<input type="hidden" id="hiddenLookupClassId" value="0" />
@{
    int parishId = 0;
    if (Session["RoleId"] != null && (int)Session["RoleId"] == (int)AccountEnum.Manager)
    {
        parishId = (int)Session["ParishId"];
    }
}
<input type="hidden" id="hiddenParishId" value="@parishId" />

<div id="chooseParishionerModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="widget-box transparent">
                <div class="widget-header center">
                    <h4 id="parishionerModalTitle" class="widget-title">Tìm kiếm giáo dân</h4>

                    <div class="widget-toolbar no-border">
                        <a href="#" onclick="$('#btnCloseLookupParishioner').click()">
                            <i class="ace-icon fa fa-times"></i>
                        </a>
                    </div>

                </div>

                <div class="widget-body">
                    
                    <div id="divInParish">
                        <div class="space-10"></div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-xs-12">
                                    <div class="form-group">

                                        <label id="lbVicariateLookupModal" class="col-sm-2 control-label no-padding-right">Giáo hạt</label>
                                        <div class="col-sm-4" id="divVicariateLookupModal">
                                            <select class="form-control" id="cbbVicariateLookupModal">
                                                <option value="0">Tất cả</option>
                                            </select>
                                        </div>

                                        <label id="lbParishLookupModal" class="col-sm-2 control-label no-padding-right">Giáo xứ</label>
                                        <div class="col-sm-4" id="divParishLookupModal">
                                            <select class="form-control" id="cbbParishLookupModal">
                                                <option value="0">Tất cả</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-10"></div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    
                                    <label class="col-sm-2 control-label no-padding-right">Giáo họ</label>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="cbbCommunityLookupModal">
                                            <option value="0">Tất cả</option>
                                        </select>
                                    </div>

                                    <label class="col-sm-2 control-label no-padding-right">Giáo khu</label>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="cbbParishDivisionLookupModal">
                                            <option value="0">Tất cả</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                                       
                    <div class="space-10"></div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">Mã/Tên giáo dân</label>
                                    <div class="col-sm-8">
                                        <input type="text" id="txtParishionerNameLookupModal" value="" class="form-control" placeholder="Nhập hơn 1 kí tự để tìm kiếm...">
                                    </div>
                                    <div class="col-sm-2">
                                        <button id="btnParishionerLookupModal" class="btn form-control btn-info">Tìm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="space-10 hr"></div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-12">

                                <table id="tblParishionerLookup" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Mã giáo dân</th>
                                            <th>Tên thánh</th>
                                            <th>Họ tên</th>
                                            <th>Giới tính</th>
                                            <th>Ngày sinh</th>
                                            <th>Giáo họ</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>

                                </table>

                            </div>
                        </div>
                    </div>

                    <div class="space-10"></div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-sm-12">
                                <div class="form-group align-right">
                                    <div class="col-sm-10"></div>
                                    <div class="col-sm-2">
                                        <button id="btnCloseLookupParishioner" class="btn btn-default">
                                            <i class="ace-icon fa fa-times  bigger-110"></i>
                                            Đóng
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="space-4"></div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</div>

<script>
    $("#cbbVicariateLookupModal").change(function () {
            loadParishes();
        });

    $("#cbbParishLookupModal").change(function () {
            loadCommunities();
        });

    $("#cbbCommunityLookupModal").change(function () {
            loadParishDivisions();
        });

    $("#btnCloseLookupParishioner").click(function () {
        $("#chooseParishionerModal").modal('hide');
        });

    $("#btnParishionerLookupModal").click(function () {
            var content = $("#txtParishionerNameLookupModal").val();
            if (content.length < 2) {
                return;
            }

            startLoading();
            updateTableContent("tblParishionerLookup");
            //     $("#tblParishionerLookup").dataTable()._fnAjaxUpdate();
        });

    $("#chooseParishionerModal").on('show.bs.modal', function () {
        $("#lookupParishionerLoading").fadeIn();
        });

    $("#chooseParishionerModal").on('hidden.bs.modal', function () {
        $("#lookupParishionerLoading").fadeOut();

        $("#hiddenActionLookupModal").val(0);
        $("#hiddenTargetIdLookupModal").val(0);
        $("#hiddenGenderLookupModal").val(-1);

        $("#cbbVicariateLookupModal").val(0);        
        //$("#cbbParishLookupModal").val(0);
        //$("#cbbCommunityLookupModal").val(0);
        //$("#cbbParishDivisionLookupModal").val(0);

        $("#txtParishionerNameLookupModal").val("");

        $("#divInParish").show();
            //$("#lbVicariateLookupModal").show();
            //$("#lbParishLookupModal").show();
            //$("#divVicariateLookupModal").show();
            //$("#divParishLookupModal").show();

            makeScrollForModal();
            updateTableContent("tblParishionerLookup");
            //     $("#tblParishionerLookup").dataTable()._fnAjaxUpdate();       
        });

    function initLookupDatatable() {

        $("#tblParishionerLookup").dataTable({
                "bRetrieve": true,
            "bServerSide": true,
            "bScrollCollapse": true,
            "bFilter": false,
            "sAjaxSource": "/Parishioner/LoadParishionerLookupDatatables",
            "bProcessing": false,
            "fnServerParams": function (aoData) {
                    aoData.push({ "name": "parishDivisionId", "value": $("#cbbParishDivisionLookupModal").val() });
                    aoData.push({ "name": "communityId", "value": $("#cbbCommunityLookupModal").val() });
                    aoData.push({ "name": "parishId", "value": $("#cbbParishLookupModal").val() });
                    aoData.push({ "name": "vicariateId", "value": $("#cbbVicariateLookupModal").val() });
                    aoData.push({ "name": "parishionerName", "value": $("#txtParishionerNameLookupModal").val() });
                    aoData.push({ "name": "gender", "value": $("#hiddenGenderLookupModal").val() });
                    aoData.push({ "name": "notSacramentType", "value": $("#hiddenNotSacramentType").val() });
                    aoData.push({ "name": "filterMatrimony", "value": $("#hiddenFilterMatrimony").val() });
                    aoData.push({ "name": "sacramentDate", "value": $("#hiddenLookupSacramentDate").val() });
                    aoData.push({ "name": "familyId", "value": $("#hiddenLookupFamilyId").val() });
                    aoData.push({ "name": "societyId", "value": $("#hiddenLookupSocietyId").val() });
                    aoData.push({ "name": "classGroupId", "value": $("#hiddenLookupClassGroupId").val() });
                    aoData.push({ "name": "classId", "value": $("#hiddenLookupClassId").val() });
                },
            "oLanguage": {
                    "sSearch": "Mã GD/ Tên thánh/ Họ tên:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "sInfoEmpty": "",
                "oPaginate": {
                        "sPrevious": "Trước",
                    "sNext": "Sau"
                }
                },
            "aoColumnDefs": [
                {
                    "aTargets": [0],
                    "bVisible": false,
                },
                {
                    "aTargets": [7],
                    "render": function (data, type, full, meta) {
        var content = '<button class="btn btn-minier btn-primary" onclick="selectParishionerRow(this, ' + data + ')">' +
            '<i class="ace-icon fa fa-check"></i>&nbsp;Chọn</button>';
        return content;
    },
                    "bSortable": false
                }
            ],
            "bAutoWidth": false,
        });

    }


    //-----------------------------------
    loadVicariates();

function loadVicariates() {
        $.ajax({
        url: "/Parishioner/LoadVicariates",
            async: false,
            data: {},
            success: function (data) {
            var element = $("#cbbVicariateLookupModal");
            //append data
            element.html("");
            element.append("<option value='0'>Tất cả</option>");
            var list = data.result;

                for (var i in list) {
                element.append("<option value='" + list[i].Id + "'>" + list[i].Name + "</option>");
            }

            loadParishes();
        }
    });
}

//-----------------------------------
function loadParishes() {
        $.ajax({
        url: "/Parishioner/LoadParishies",
            async: false,
            data: {
            vicariateId: $("#cbbVicariateLookupModal").val()
            },
            success: function (data) {
            var element = $("#cbbParishLookupModal");
            //append data
            element.html("");
            element.append("<option value='0'>Tất cả</option>");
            var list = data.result;

                for (var i in list) {
                element.append("<option value='" + list[i].Id + "'>" + list[i].Name + "</option>");
            }

            loadCommunities();
        }
    });
}

//-----------------------------------
function loadCommunities() {
        $.ajax({
        url: "/Parishioner/LoadCommunitites",
            async: false,
            data: {
            vicariateId: $("#cbbVicariateLookupModal").val(),
                parishId: $("#cbbParishLookupModal").val()
            },
            success: function (data) {
            var element = $("#cbbCommunityLookupModal");
            //append data
            element.html("");
            element.append("<option value='0'>Tất cả</option>");
            var list = data.result;

                for (var i in list) {
                element.append("<option value='" + list[i].Id + "'>" + list[i].Name + "</option>");
            }

            loadParishDivisions();
        }
    });
}

function loadParishDivisions() {
        $.ajax({
        url: "/Parishioner/LoadParishDivisions",
            async: false,
            data: {
            communityId: $("#cbbCommunityLookupModal").val(),
                vicariateId: $("#cbbVicariateLookupModal").val(),
                parishId: $("#cbbParishLookupModal").val()
            },
            success: function (data) {
            var element = $("#cbbParishDivisionLookupModal");
            //append data
            element.html("");
            element.append("<option value='0'>Tất cả</option>");
            var list = data.result;

                for (var i in list) {
                element.append("<option value='" + list[i].Id + "'>" + list[i].Name + "</option>");
            }

            initLookupDatatable();
        }
    });
}

//-----------------------------------
//Add your function here
function openLookupModal(action, target, gender, multiple, notSacrament, filterMatrimony, sacramentDate, familyId, societyId, classGroupId, classId) {
    loadVicariates();
        $("#hiddenActionLookupModal").val(action);
        $("#hiddenTargetIdLookupModal").val(target);
        $("#hiddenGenderLookupModal").val(gender);

    if (notSacrament) {
            $("#hiddenNotSacramentType").val(notSacrament);
    } else {
            $("#hiddenNotSacramentType").val(0);
    }

    if (filterMatrimony) {
            $("#hiddenFilterMatrimony").val(filterMatrimony);
    } else {
            $("#hiddenFilterMatrimony").val(0);
    }

    if (sacramentDate) {
            $("#hiddenLookupSacramentDate").val(sacramentDate);
    } else {
            $("#hiddenLookupSacramentDate").val("");
    }

    if (familyId) {
            $("#hiddenLookupFamilyId").val(familyId);
    } else {
            $("#hiddenLookupFamilyId").val(0);
    }

    if (societyId) {
            $("#hiddenLookupSocietyId").val(societyId);
    } else {
            $("#hiddenLookupSocietyId").val(0);
    }

    if (classGroupId) {
            $("#hiddenLookupClassGroupId").val(classGroupId);
    } else {
            $("#hiddenLookupClassGroupId").val(0);
    }

    if (classId) {
            $("#hiddenLookupClassId").val(classGroupId);
    } else {
            $("#hiddenLookupClassId").val(0);
    }

    if ((!multiple) || (multiple == 0)) {
        setParishForLookup();
    } else {
        var parishId = $("#hiddenParishId").val();
            $("#cbbParishLookupModal").val(parishId);
            $("#cbbParishLookupModal").change();
    }
    $("#chooseParishionerModal").on('shown.bs.modal', function () {
        $("#txtParishionerNameLookupModal").focus();
    });
    $("#chooseParishionerModal").modal('show');
}


function setParishForLookup() {
    var parishId = $("#hiddenParishId").val();
    console.log(parishId);
        $("#divInParish").hide();

        $("#cbbParishLookupModal").val(parishId);
        $("#cbbParishLookupModal").change();
}

function closeLookupModal() {
        $("#chooseParishionerModal").modal('hide');
}

function selectParishionerRow(button, id) {
    //Ai vao viet them ham thi tang dum so action
    var action = $("#hiddenActionLookupModal").val(); //Hanh dong se lam duoc phan chia ra khac nhau o moi view goi no
    var target = $("#hiddenTargetIdLookupModal").val(); //Id cua doi tuong se duoc tuong tac khi nhan nut chon
    var targetId = $("#hiddenIdLookupModal").val();

    //----Nhung thong tin duoc lay ra tu bang du lieu
    var element = $(button).closest('tr');
    var rows = element.find('td');

    var code = rows[0].innerHTML;
    var christianName = rows[1].innerHTML;
    var name = rows[2].innerHTML;
    var gender = rows[3].innerHTML;
    var birthDate = rows[4].innerHTML;
    var community = rows[5].innerHTML;
    var parishionerId = id;

    //var name = rows[0].innerHTML;
    //var gender = rows[1].innerHTML;
    //var birthDate = rows[2].innerHTML;
    //var fatherName = rows[3].innerHTML;
    //var motherName = rows[4].innerHTML;
    //var community = rows[5].innerHTML;
    //var parishionerId = id;

    //Bat dau thuc hien action
    if (action == 1) {
            $("#" + target).val(christianName ? (christianName + " " + name) : name);
        closeLookupModal();
    }
    if (action == 2) {
            $("#" + target).val(parishionerId);
        AddSacramentGroup();
        closeLookupModal();
    }
    //Quân
    if (action == 3) {
            $("#txtManagerNameModal").val(christianName ? (christianName + " " + name) : name);
            $("#managerId").val(id);
        closeLookupModal();
    }
    if (action == 4) {
            $("#smParishionerId").val(id);
        AddSociety();
        //closeLookupModal();
    }
    if (action == 5) {
            $("#ClassGroupManager").val(christianName ? (christianName + " " + name) : name);
            $("#ClassGroupManagerId").val(id);
        closeLookupModal();
    }
    if (action == 6) {
        checkValidMatrimony(id, 1, christianName, name);
    }
    if (action == 7) {
        checkValidMatrimony(id, 0, christianName, name);
    }
    //Quân
    if (action == 8) {
            $("#cmParishionerId").val(id);
        AddClass();
    }
    if (action == 9) {
        checkValidateFamilyMember(id, code, gender, christianName, name, birthDate);
    }

}

</script>
