<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">
        <i class="ace-icon fa fa-times"></i>
    </button>
    <p class="blue">Giáo dân thuộc xứ khác</p>
    <p class="red">Giáo dân đã qua đời</p>
</div>
