<link rel="stylesheet" href="/Content/assets/css/bootstrap-editable.css" />
<link rel="stylesheet" href="/Content/assets/css/jquery-ui.custom.min.css" />
<link rel="stylesheet" href="/Content/assets/css/select2.css" />
<script src="/Content/assets/js/bootstrap-wysiwyg.min.js"></script>
<script src="/Content/assets/js/select2.min.js"></script>
<script src="/Content/assets/js/x-editable/bootstrap-editable.min.js"></script>
<script src="/Content/assets/js/x-editable/ace-editable.min.js"></script>

<input type="hidden" id="societyId" />

<input type="hidden" id="hiddenReadonlySocietiesSearch" value="0" />
<div id="readonlySocietiesSearch" data-backdrop="static" data-keyboard="false" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="widget-box transparent">
                <div class="widget-header align-center">
                    <h3 class="widget-title lighter"> Chi tiết hội </h3>
                </div>
                <div class="widget-body">

                    <div class="col-sm-12  ui-sortable">
                        <div class="widget-box transparent ui-sortable-handle">
                            <div class="widget-header">
                                <h4 class="widget-title lighter"> Thông tin hội đoàn </h4>
                            </div>

                            <div class="widget-body">

                                <div class="space-10"></div>
                                <div class="row form-horizontal">
                                    <div class="col-xs-12">
                                        <div class="form-group align-left">
                                            <label class="col-sm-3 control-label no-padding-right align-left" for="form-field-1"> Tên hội </label>
                                            <div class="col-sm-9">
                                                <input disabled="" id="societyNameModal" type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group align-left">
                                            <label class="col-sm-3 control-label no-padding-right align-left" for="form-field-1"> Ngày thành lập </label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input disabled="" class="form-control date-picker" id="establishedDate" type="text" data-date-format="dd/mm/yyyy" placeholder="" />
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right align-left" for="form-field-1"> Người quản lí </label>
                                            <div class="col-sm-9">
                                                    <input disabled="" id="txtManagerNameModal" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- Danh sách hội viên -->
                    <div class="col-sm-12  ui-sortable">
                        <div class="widget-box transparent ui-sortable-handle">
                            <div class="widget-header">
                                <h4 class="widget-title lighter"> Danh sách hội viên </h4>
                            </div>

                            <div class="widget-body">
                                <div class="row form-horizontal">
                                    <div class="col-xs-12">

                                        <div class="space-6"></div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <table id="societyMemberTable" class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th class="hidden"></th>
                                                            <th class="hidden">
                                                                <label class="position-relative">
                                                                    <input type="checkbox" class="ace" />
                                                                    <span class="lbl"></span>
                                                                </label>
                                                            </th>
                                                            <th>Tên thánh</th>
                                                            <th>Họ tên</th>
                                                            <th>Phái</th>
                                                            <th>Ngày sinh</th>
                                                            <th>Ghi chú</th>
                                                            <th class="hidden"></th>
                                                        </tr>
                                                    </thead>

                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-12">
                                <div class="form-group align-right">
                                    <button id="btnCloseSocietyModal" class="btn btn-grey" data-toggle="modal">
                                        <i class="ace-icon fa fa-times"></i> Đóng
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Kết thúc danh sách hội viên -->

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    

    //Load bảng danh sách hội viên
    function LoadSocietyMemberTable() {
        var id = $("#societyId").val();
        $.ajax({
            url: "/Society/LoadSocietyMemberBySocietyId",
            type: "POST",
            data: {
                societyId: id,
            },
            success: function (data) {
                $("#societyMemberTable").dataTable().fnDestroy();
                $("#societyMemberTable > tbody").html(data);
                initSocietyMemberTable();
            },
        });
    }
    function initSocietyMemberTable() {
        $("#societyMemberTable").dataTable({
            "bDestroy": true,
            "oLanguage": {
                "sSearch": "Tên hội viên",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "sInfoEmpty": "",
                "oPaginate": {
                    "sPrevious": "Trước",
                    "sNext": "Sau"
                }
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0],
                    "bSortable": false,
                    "bVisible": false,
                    "sWidth": "3%",
                },
            {
                "aTargets": [1],
                "bSortable": false,
                "bVisible": false,
                "sWidth": "4%",
            },
            {
                "aTargets": [2],
                "sWidth": "20%",
            },
                    {
                        "aTargets": [3],
                        "sWidth": "20%",
                    },
                    {
                        "aTargets": [4],
                        "sWidth": "10%",
                    },
                    {
                        "aTargets": [5],
                        "sWidth": "20%",
                    },
                    {
                        "aTargets": [6],
                        "sWidth": "15%",
                    },
                  {
                      "aTargets": [7],
                      "bSortable": false,
                      "bVisible": false,
                      "sWidth": "8%",
                  }
            ],
            "bAutoWidth": false,

        });
    }
    
    function LoadSocietyDetail(id) {
        $("#societyId").val(id);
        $.ajax({
            url: "/Society/LoadSocietyById",
            type: "POST",
            data: { id: id },
            success: function (data) {
                var item = data.result;
                $("#societyNameModal").val(item.Name);
                $("#establishedDate").val(item.EstablishedDate);
                $("#txtManagerNameModal").val(item.Manager);
                LoadSocietyMemberTable();
                $("#readonlySocietiesSearch").modal('show');

            },
        });
    }
    function clearModal() {
        $("#societyNameModal").val("");
        $("#txtManagerNameModal").val("");
        $("#establishedDate").val("");
        $("#societyMemberTable").dataTable().fnDestroy();
        $("#societyMemberTable tbody").html("");
        $("#managerId").val("");
        $("#societyNameValidate").html("");
        $("#societyNameValidate").hide();
    }
    //----------------------------------------------

    $("#btnCloseSocietyModal").click(function () {
        $("#readonlySocietiesSearch").modal('hide');
        clearModal();
        makeScrollForModal();
    });
</script>