 
CREATE TABLE [dbo].[Class](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[RoomNo] [nvarchar](50) NULL,
	[Year] [int] NOT NULL,
	[Note] [nvarchar](200) NULL,
	[ClassGroupId] [int] NOT NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Class] ON
INSERT [dbo].[Class] ([Id], [Name], [RoomNo], [Year], [Note], [ClassGroupId]) VALUES (1, N'Rửa tội', N'sadfsadf', 2014, N'ghi chú test', 1)
INSERT [dbo].[Class] ([Id], [Name], [RoomNo], [Year], [Note], [ClassGroupId]) VALUES (2, N'honphoi', N'123', 2014, NULL, 2)
INSERT [dbo].[Class] ([Id], [Name], [RoomNo], [Year], [Note], [ClassGroupId]) VALUES (3, N'Lop2014', NULL, 2014, NULL, 2)
SET IDENTITY_INSERT [dbo].[Class] OFF
/****** Object:  Table [dbo].[Vocation]    Script Date: 12/15/2014 01:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vocation](
	[ParishionerId] [int] NOT NULL,
	[Date1] [char](8) NULL,
	[Date2] [char](8) NULL,
	[Date3] [char](8) NULL,
	[Date4] [char](8) NULL,
	[Date5] [char](8) NULL,
	[Date6] [char](8) NULL,
	[Date7] [char](8) NULL,
	[Date8] [char](8) NULL,
	[Date9] [char](8) NULL,
	[Seminary] [nvarchar](100) NULL,
	[SeminaryAddress] [nvarchar](100) NULL,
	[Position] [int] NOT NULL,
	[ServedPlace] [nvarchar](100) NULL,
	[ServedAddress] [nvarchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Note] [nvarchar](200) NULL,
	[IsLeft] [bit] NOT NULL,
 CONSTRAINT [PK_Vocation] PRIMARY KEY CLUSTERED 
(
	[ParishionerId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Vocation] ([ParishionerId], [Date1], [Date2], [Date3], [Date4], [Date5], [Date6], [Date7], [Date8], [Date9], [Seminary], [SeminaryAddress], [Position], [ServedPlace], [ServedAddress], [Phone], [Email], [Note], [IsLeft]) VALUES (117, N'20141121', N'        ', N'20141113', N'        ', N'        ', N'        ', N'        ', N'        ', N'        ', NULL, NULL, 4, NULL, NULL, N'', N'', N'', 1)
INSERT [dbo].[Vocation] ([ParishionerId], [Date1], [Date2], [Date3], [Date4], [Date5], [Date6], [Date7], [Date8], [Date9], [Seminary], [SeminaryAddress], [Position], [ServedPlace], [ServedAddress], [Phone], [Email], [Note], [IsLeft]) VALUES (120, N'20140908', N'        ', N'        ', N'        ', N'        ', N'        ', N'        ', N'        ', N'        ', NULL, NULL, 0, NULL, NULL, N'', N'', N'', 0)
INSERT [dbo].[Vocation] ([ParishionerId], [Date1], [Date2], [Date3], [Date4], [Date5], [Date6], [Date7], [Date8], [Date9], [Seminary], [SeminaryAddress], [Position], [ServedPlace], [ServedAddress], [Phone], [Email], [Note], [IsLeft]) VALUES (122, N'20141112', N'        ', N'20141110', N'        ', N'        ', N'        ', N'        ', N'        ', N'        ', NULL, NULL, 0, NULL, NULL, N'', N'', N'', 1)
/****** Object:  Table [dbo].[SocietyMember]    Script Date: 12/15/2014 01:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocietyMember](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SocietyId] [int] NOT NULL,
	[ParishionerId] [int] NOT NULL,
	[Position] [int] NOT NULL,
	[Note] [nvarchar](200) NULL,
 CONSTRAINT [PK_SocietyMember] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sacrament]    Script Date: 12/15/2014 01:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sacrament](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SacramentGroupId] [int] NULL,
	[ParishionerId] [int] NOT NULL,
	[Number] [varchar](50) NULL,
	[Type] [int] NOT NULL,
	[Patron] [nvarchar](100) NULL,
	[Note] [nvarchar](100) NULL,
	[Date] [char](8) NULL,
	[Giver] [nvarchar](100) NULL,
	[ReceivedPlace] [nvarchar](100) NULL,
 CONSTRAINT [PK_Sacrament] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Sacrament] ON
INSERT [dbo].[Sacrament] ([Id], [SacramentGroupId], [ParishionerId], [Number], [Type], [Patron], [Note], [Date], [Giver], [ReceivedPlace]) VALUES (1, NULL, 12, N'08321456487', 1, N'Đaminh Nguyễn Thành Long', NULL, N'20141000', N'', N'Đông đường')
INSERT [dbo].[Sacrament] ([Id], [SacramentGroupId], [ParishionerId], [Number], [Type], [Patron], [Note], [Date], [Giver], [ReceivedPlace]) VALUES (2, NULL, 12, N'08636544848', 2, NULL, NULL, N'20141016', N'Phêrô Huỳnh Văn Hải', N'Đông Lãng')
INSERT [dbo].[Sacrament] ([Id], [SacramentGroupId], [ParishionerId], [Number], [Type], [Patron], [Note], [Date], [Giver], [ReceivedPlace]) VALUES (3, NULL, 62, N'', 1, N'', NULL, N'19951000', N'', N'')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Sacrament] OFF
/****** Object:  Table [dbo].[ClassMember]    Script Date: 12/15/2014 01:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassMember](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParishionerId] [int] NOT NULL,
	[ClassId] [int] NOT NULL,
	[Position] [int] NOT NULL,
	[IsDone] [bit] NOT NULL,
	[Note] [nvarchar](200) NULL,
 CONSTRAINT [PK_ClassMember] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ClassMember] ON
INSERT [dbo].[ClassMember] ([Id], [ParishionerId], [ClassId], [Position], [IsDone], [Note]) VALUES (1, 119, 1, 1, 0, N' ')
INSERT [dbo].[ClassMember] ([Id], [ParishionerId], [ClassId], [Position], [IsDone], [Note]) VALUES (2, 134, 2, 1, 0, N' ')
INSERT [dbo].[ClassMember] ([Id], [ParishionerId], [ClassId], [Position], [IsDone], [Note]) VALUES (3, 133, 2, 2, 1, N' ')
SET IDENTITY_INSERT [dbo].[ClassMember] OFF
/****** Object:  Table [dbo].[Parishioner]    Script Date: 12/15/2014 01:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Parishioner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[ImageUrl] [nvarchar](100) NULL,
	[ChristianName] [nvarchar](100) NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Gender] [int] NOT NULL,
	[BirthDate] [char](8) NULL,
	[BirthPlace] [nvarchar](100) NULL,
	[FatherName] [nvarchar](100) NULL,
	[MotherName] [nvarchar](100) NULL,
	[IsCounted] [bit] NOT NULL,
	[Status] [int] NOT NULL,
	[DomicileStatus] [int] NOT NULL,
	[DomicilePlace] [nvarchar](100) NULL,
	[Education] [nvarchar](100) NULL,
	[IsStudying] [bit] NOT NULL,
	[Career] [nvarchar](100) NULL,
	[Address] [nvarchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[MobilePhone] [varchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Note] [nvarchar](200) NULL,
	[IsCatechumen] [bit] NOT NULL,
	[IsDead] [bit] NOT NULL,
	[DeadDate] [char](8) NULL,
	[IsMarried] [bit] NOT NULL,
	[IsSingle] [bit] NOT NULL,
	[CommunityId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [varchar](100) NULL,
	[LastUpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_Parishioner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Parishioner] ON
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Parishioner] OFF
GO
print 'Processed 200 total records'
/****** Object:  Table [dbo].[Society]    Script Date: 12/15/2014 01:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Society](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[EstablishedDate] [char](8) NULL,
	[ManagedBy] [int] NULL,
	[ParishId] [int] NOT NULL,
 CONSTRAINT [PK_Society] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SacramentGroup]    Script Date: 12/15/2014 01:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SacramentGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [char](8) NULL,
	[Type] [int] NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Giver] [nvarchar](100) NULL,
	[ReceivedPlace] [nvarchar](100) NULL,
	[ParishId] [int] NOT NULL,
 CONSTRAINT [PK_SacramentGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SacramentGroup] ON
INSERT [dbo].[SacramentGroup] ([Id], [Date], [Type], [Description], [Giver], [ReceivedPlace], [ParishId]) VALUES (1, N'20141002', 2, N'Đợt bí tích ngày 02 tháng 10 năm 2014', N'Giuse Huynh Minh Khoi', N'TPHCM', 1)
INSERT [dbo].[SacramentGroup] ([Id], [Date], [Type], [Description], [Giver], [ReceivedPlace], [ParishId]) VALUES (2, N'20141001', 1, N'Đợt bí tích ngày 1 tháng 10 năm 2014', N'Antôn Nguyễn Văn Trung', N'Hồ Chí Minh', 1)
INSERT [dbo].[SacramentGroup] ([Id], [Date], [Type], [Description], [Giver], [ReceivedPlace], [ParishId]) VALUES (3, N'20141014', 2, N'Đợt bí tích ngày 14 tháng 10 năm 2014', N'Giuse Huỳnh Phong Vân', N'Tây Ninh', 1)
SET IDENTITY_INSERT [dbo].[SacramentGroup] OFF
/****** Object:  Table [dbo].[ParishionerMigrationRequest]    Script Date: 12/15/2014 01:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParishionerMigrationRequest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParishionerId] [int] NOT NULL,
	[ToParishId] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[FromCommunityId] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_ParishionerMigrationRequest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ParishionerMigrationRequest] ON
INSERT [dbo].[ParishionerMigrationRequest] ([Id], [ParishionerId], [ToParishId], [CreatedDate], [FromCommunityId], [Status]) VALUES (3, 132, 9, CAST(0x0000A3DA00E1FAC4 AS DateTime), 2, 2)
INSERT [dbo].[ParishionerMigrationRequest] ([Id], [ParishionerId], [ToParishId], [CreatedDate], [FromCommunityId], [Status]) VALUES (4, 131, 9, CAST(0x0000A3DA00E255E8 AS DateTime), 3, 2)
INSERT [dbo].[ParishionerMigrationRequest] ([Id], [ParishionerId], [ToParishId], [CreatedDate], [FromCommunityId], [Status]) VALUES (5, 130, 9, CAST(0x0000A3DA00E8ACB3 AS DateTime), 5, 2)
SET IDENTITY_INSERT [dbo].[ParishionerMigrationRequest] OFF
/****** Object:  Table [dbo].[Configuration]    Script Date: 12/15/2014 01:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuration](
	[ParishId] [int] NOT NULL,
	[MultipleParishionerAdding] [int] NOT NULL,
	[ParishionerCodeGeneration] [int] NOT NULL,
	[ParishionerPrefix] [nvarchar](50) NULL,
	[ParishionerCharacterNumber] [int] NOT NULL,
	[FamilyCodeGeneration] [int] NOT NULL,
	[FamilyPrefix] [nvarchar](50) NULL,
	[FamilyCharacterNumber] [int] NOT NULL,
	[BaptismTemplate] [nvarchar](max) NULL,
	[HolyCommunionTemplate] [nvarchar](max) NULL,
	[ConfirmationTemplate] [nvarchar](max) NULL,
	[MatrimonyTemplate] [nvarchar](max) NULL,
	[SacramentTemplate] [nvarchar](max) NULL,
 CONSTRAINT [PK_Configuration] PRIMARY KEY CLUSTERED 
(
	[ParishId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Configuration] ([ParishId], [MultipleParishionerAdding], [ParishionerCodeGeneration], [ParishionerPrefix], [ParishionerCharacterNumber], [FamilyCodeGeneration], [FamilyPrefix], [FamilyCharacterNumber], [BaptismTemplate], [HolyCommunionTemplate], [ConfirmationTemplate], [MatrimonyTemplate], [SacramentTemplate]) VALUES (9, 1, 1, N'GXAD', 2, 1, N'GĐAD', 1, NULL, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[Community]    Script Date: 12/15/2014 01:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Community](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[ParentId] [int] NULL,
	[ParishId] [int] NOT NULL,
 CONSTRAINT [PK_Community] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Community] ON
INSERT [dbo].[Community] ([Id], [Name], [IsDefault], [ParentId], [ParishId]) VALUES (1, N'Ngoài xứ', 1, NULL, 1)
INSERT [dbo].[Community] ([Id], [Name], [IsDefault], [ParentId], [ParishId]) VALUES (2, N'Đông Đường', 0, NULL, 1)
INSERT [dbo].[Community] ([Id], [Name], [IsDefault], [ParentId], [ParishId]) VALUES (3, N'Đồng Lãng', 0, NULL, 1)
SET IDENTITY_INSERT [dbo].[Community] OFF
/****** Object:  Table [dbo].[ClassGroup]    Script Date: 12/15/2014 01:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Year] [int] NOT NULL,
	[Note] [nvarchar](200) NULL,
	[ManagedBy] [int] NULL,
	[ParishId] [int] NOT NULL,
 CONSTRAINT [PK_ClassGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ClassGroup] ON
INSERT [dbo].[ClassGroup] ([Id], [Name], [Year], [Note], [ManagedBy], [ParishId]) VALUES (1, N'Rửa tội A', 2014, N'test', NULL, 1)
INSERT [dbo].[ClassGroup] ([Id], [Name], [Year], [Note], [ManagedBy], [ParishId]) VALUES (2, N'Demo2014', 2014, N'abc', 134, 1)
SET IDENTITY_INSERT [dbo].[ClassGroup] OFF
/****** Object:  Table [dbo].[Parish]    Script Date: 12/15/2014 01:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Parish](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](100) NULL,
	[Website] [nvarchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[ImageUrl] [nvarchar](200) NULL,
	[Priest] [nvarchar](100) NULL,
	[VicariateId] [int] NOT NULL,
 CONSTRAINT [PK_Parish] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Parish] ON
INSERT [dbo].[Parish] ([Id], [Name], [Address], [Website], [Phone], [Email], [ImageUrl], [Priest], [VicariateId]) VALUES (1, N'Thị Nghè', N'66/16 XVNT', N'www.gxthinghe.com', N'0935 484 8777', N'gxthinghe@gmail.com', N'/Images/Parishes/9ae8b05d-f25b-4582-b156-0faf22627f08.jpg', N'Giuse Đỗ Trọng Cát', 1)
INSERT [dbo].[Parish] ([Id], [Name], [Address], [Website], [Phone], [Email], [ImageUrl], [Priest], [VicariateId]) VALUES (2, N'Bạch Đằng', N'ABC', N'www.abc.com', N'6546548', N'gxabc@gmail.com', N'abc', N'Antôn Đỗ Văn Thanh', 1)
INSERT [dbo].[Parish] ([Id], [Name], [Address], [Website], [Phone], [Email], [ImageUrl], [Priest], [VicariateId]) VALUES (3, N'Tân Bình', N'abc', N'www.abc.com', N'0932 045 656', N'khoihm93@gmail.com', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Parish] OFF
/****** Object:  Table [dbo].[Message]    Script Date: 12/15/2014 01:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[ParishId] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Message] ON
INSERT [dbo].[Message] ([Id], [AccountId], [ParishId], [CreatedDate], [Title], [Content]) VALUES (1, 2, 1, CAST(0x0000A3F10095EBE8 AS DateTime), N'Thư chào!', N'Kính gửi linh mục các xứ!<br>Tôi tên là Giuse Huỳnh Minh Tuấn, từ hôm nay tôi sẽ trở thành giám mục quản lý giáo phận Hồ Chí Minh.<br>Rất mong nhận được sự hợp tác và hỗ trợ của các vị.<br>Tôi xin chân thành cảm ơn!<br>Thân,<br>Tuan')
INSERT [dbo].[Message] ([Id], [AccountId], [ParishId], [CreatedDate], [Title], [Content]) VALUES (2, 2, 2, CAST(0x0000A3F10095EBED AS DateTime), N'Thư chào!', N'Kính gửi linh mục các xứ!<br>Tôi tên là Giuse Huỳnh Minh Tuấn, từ hôm nay tôi sẽ trở thành giám mục quản lý giáo phận Hồ Chí Minh.<br>Rất mong nhận được sự hợp tác và hỗ trợ của các vị.<br>Tôi xin chân thành cảm ơn!<br>Thân,<br>Tuan')
INSERT [dbo].[Message] ([Id], [AccountId], [ParishId], [CreatedDate], [Title], [Content]) VALUES (3, 2, 3, CAST(0x0000A3F10095EBED AS DateTime), N'Thư chào!', N'Kính gửi linh mục các xứ!<br>Tôi tên là Giuse Huỳnh Minh Tuấn, từ hôm nay tôi sẽ trở thành giám mục quản lý giáo phận Hồ Chí Minh.<br>Rất mong nhận được sự hợp tác và hỗ trợ của các vị.<br>Tôi xin chân thành cảm ơn!<br>Thân,<br>Tuan')
SET IDENTITY_INSERT [dbo].[Message] OFF
/****** Object:  Table [dbo].[Matrimony]    Script Date: 12/15/2014 01:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Matrimony](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HusbandId] [int] NOT NULL,
	[WifeId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Number] [nvarchar](100) NULL,
	[Date] [char](8) NULL,
	[Place] [nvarchar](100) NULL,
	[Priest] [nvarchar](100) NULL,
	[FirstWitness] [nvarchar](100) NULL,
	[SecondWitness] [nvarchar](100) NULL,
	[Status] [int] NOT NULL,
	[Note] [nvarchar](200) NULL,
	[SacramentGroupId] [int] NULL,
 CONSTRAINT [PK_Matrimony] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Matrimony] ON
INSERT [dbo].[Matrimony] ([Id], [HusbandId], [WifeId], [Name], [Number], [Date], [Place], [Priest], [FirstWitness], [SecondWitness], [Status], [Note], [SacramentGroupId]) VALUES (34, 121, 116, N'Trung - Mẫn', N'01224687998', N'20140714', NULL, NULL, NULL, NULL, 3, NULL, NULL)
INSERT [dbo].[Matrimony] ([Id], [HusbandId], [WifeId], [Name], [Number], [Date], [Place], [Priest], [FirstWitness], [SecondWitness], [Status], [Note], [SacramentGroupId]) VALUES (36, 125, 118, N'Minh - Trinh', N'0932044023', N'20140424', NULL, NULL, NULL, NULL, 3, NULL, NULL)
INSERT [dbo].[Matrimony] ([Id], [HusbandId], [WifeId], [Name], [Number], [Date], [Place], [Priest], [FirstWitness], [SecondWitness], [Status], [Note], [SacramentGroupId]) VALUES (37, 119, 118, N'Lữ - Trinh', N'0932040423', N'20140331', NULL, NULL, NULL, NULL, 2, N'test ghi chu', NULL)
SET IDENTITY_INSERT [dbo].[Matrimony] OFF
/****** Object:  Table [dbo].[FamilyMigrationRequest]    Script Date: 12/15/2014 01:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamilyMigrationRequest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FamilyId] [int] NOT NULL,
	[ToParishId] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[FromCommunityId] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_FamilyMigrationRequest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FamilyMigrationRequest] ON
INSERT [dbo].[FamilyMigrationRequest] ([Id], [FamilyId], [ToParishId], [CreatedDate], [FromCommunityId], [Status]) VALUES (1, 55, 9, CAST(0x0000A3E300D67129 AS DateTime), 10, 2)
INSERT [dbo].[FamilyMigrationRequest] ([Id], [FamilyId], [ToParishId], [CreatedDate], [FromCommunityId], [Status]) VALUES (2, 53, 9, CAST(0x0000A3E300D6713D AS DateTime), 8, 2)
INSERT [dbo].[FamilyMigrationRequest] ([Id], [FamilyId], [ToParishId], [CreatedDate], [FromCommunityId], [Status]) VALUES (9, 69, 9, CAST(0x0000A3F200FF389E AS DateTime), 10, 2)
SET IDENTITY_INSERT [dbo].[FamilyMigrationRequest] OFF
/****** Object:  Table [dbo].[FamilyMember]    Script Date: 12/15/2014 01:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamilyMember](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FamilyId] [int] NOT NULL,
	[ParishionerId] [int] NOT NULL,
	[Position] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[IsHouseholder] [bit] NOT NULL,
 CONSTRAINT [PK_FamilyMember] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FamilyMember] ON
INSERT [dbo].[FamilyMember] ([Id], [FamilyId], [ParishionerId], [Position], [Status], [IsHouseholder]) VALUES (1, 3, 14, 1, 0, 0)
INSERT [dbo].[FamilyMember] ([Id], [FamilyId], [ParishionerId], [Position], [Status], [IsHouseholder]) VALUES (2, 3, 15, 1, 0, 1)
INSERT [dbo].[FamilyMember] ([Id], [FamilyId], [ParishionerId], [Position], [Status], [IsHouseholder]) VALUES (6, 7, 119, 1, 0, 1)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[FamilyMember] OFF
/****** Object:  Table [dbo].[Family]    Script Date: 12/15/2014 01:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Family](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Address] [nvarchar](100) NULL,
	[Note] [nvarchar](200) NULL,
	[DomicileStatus] [int] NOT NULL,
	[DomicilePlace] [nvarchar](100) NULL,
	[IsCounted] [bit] NOT NULL,
	[Status] [int] NOT NULL,
	[CommunityId] [int] NOT NULL,
 CONSTRAINT [PK_Family] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Family] ON
INSERT [dbo].[Family] ([Id], [Code], [Name], [Phone], [Address], [Note], [DomicileStatus], [DomicilePlace], [IsCounted], [Status], [CommunityId]) VALUES (3, N'MGĐTN01', N'Tuấn - Quân', N'0932044068', N'66/16 Tây H?', N'Nothing to do here', 0, NULL, 1, -1, 5)
INSERT [dbo].[Family] ([Id], [Code], [Name], [Phone], [Address], [Note], [DomicileStatus], [DomicilePlace], [IsCounted], [Status], [CommunityId]) VALUES (7, N'GĐTN01', N'Khôi - Tuấn', N'0932 044 023', N'66/16 ?p Ninh Bình Xã Ninh Thu?n', N'test ghi chú các b?n', 0, NULL, 0, 1, 8)
INSERT [dbo].[Family] ([Id], [Code], [Name], [Phone], [Address], [Note], [DomicileStatus], [DomicilePlace], [IsCounted], [Status], [CommunityId]) VALUES (10, N'GĐTN02', N'Khôi - Quân', N'0844 688 8741', N'128 Chung cu Lô A Lý Thu?ng Ki?t', N'ttttttt', 0, NULL, 1, -1, 9)
SET IDENTITY_INSERT [dbo].[Family] OFF
/****** Object:  Table [dbo].[Vicariate]    Script Date: 12/15/2014 01:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vicariate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DioceseId] [int] NOT NULL,
	[ParishId] [int] NULL,
 CONSTRAINT [PK_Vicariate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Vicariate] ON
INSERT [dbo].[Vicariate] ([Id], [Name], [DioceseId], [ParishId]) VALUES (1, N'Bình Thạnh', 1, NULL)
INSERT [dbo].[Vicariate] ([Id], [Name], [DioceseId], [ParishId]) VALUES (2, N'Tân Bình', 1, NULL)
INSERT [dbo].[Vicariate] ([Id], [Name], [DioceseId], [ParishId]) VALUES (4, N'Bình Tân', 1, NULL)
SET IDENTITY_INSERT [dbo].[Vicariate] OFF
/****** Object:  Table [dbo].[Diocese]    Script Date: 12/15/2014 01:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diocese](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageUrl] [nvarchar](200) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](100) NULL,
	[Website] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Bishop] [nvarchar](100) NULL,
	[Church] [nvarchar](100) NULL,
 CONSTRAINT [PK_Diocese] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Diocese] ON
INSERT [dbo].[Diocese] ([Id], [ImageUrl], [Name], [Address], [Website], [Phone], [Email], [Bishop], [Church]) VALUES (1, N'/Content/assets/avatars/giaophan.jpg', N'Hồ Chí Minh', N'12/4 Xô Viết Nghệ Tĩnh', N'www.toathanh.com.vn', N'0909 090 909', N'tuanhmsilver#abc@gmail.com', N'Đaminh Nguyễn Văn A', N'Toa nha Chanh xu')
INSERT [dbo].[Diocese] ([Id], [ImageUrl], [Name], [Address], [Website], [Phone], [Email], [Bishop], [Church]) VALUES (2, N'/Content/assets/avatars/giaophan.jpg', N'Đà Lạt', N'aa', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Diocese] OFF
/****** Object:  Table [dbo].[PlaceSuggestion]    Script Date: 12/15/2014 01:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaceSuggestion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_PlaceSuggestion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PlaceSuggestion] ON
INSERT [dbo].[PlaceSuggestion] ([Id], [Name]) VALUES (1, N'Hồ Chí Minh')
INSERT [dbo].[PlaceSuggestion] ([Id], [Name]) VALUES (2, N'Tây Ninh')
INSERT [dbo].[PlaceSuggestion] ([Id], [Name]) VALUES (3, N'Cà Mau')
SET IDENTITY_INSERT [dbo].[PlaceSuggestion] OFF
/****** Object:  Table [dbo].[ChristianSuggestion]    Script Date: 12/15/2014 01:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChristianSuggestion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ChristianSuggestion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChristianSuggestion] ON
INSERT [dbo].[ChristianSuggestion] ([Id], [Name]) VALUES (1, N'Đaminh')
INSERT [dbo].[ChristianSuggestion] ([Id], [Name]) VALUES (2, N'Giuse')
INSERT [dbo].[ChristianSuggestion] ([Id], [Name]) VALUES (3, N'Mattheu')
SET IDENTITY_INSERT [dbo].[ChristianSuggestion] OFF
/****** Object:  Table [dbo].[Account]    Script Date: 12/15/2014 01:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[DioceseId] [int] NOT NULL,
	[ParishId] [int] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Account] ON
INSERT [dbo].[Account] ([Id], [Username], [Password], [Name], [CreatedDate], [Status], [RoleId], [DioceseId], [ParishId]) VALUES (2, N'admin', N'e10adc3949ba59abbe56e057f20f883e', N'Minh Khôi', CAST(0x0000A3B800000000 AS DateTime), 1, 1, 1, NULL)
INSERT [dbo].[Account] ([Id], [Username], [Password], [Name], [CreatedDate], [Status], [RoleId], [DioceseId], [ParishId]) VALUES (3, N'manager', N'e10adc3949ba59abbe56e057f20f883e', N'Huỳnh Minh Khôi', CAST(0x0000A3C200000000 AS DateTime), 1, 2, 1, 1)
INSERT [dbo].[Account] ([Id], [Username], [Password], [Name], [CreatedDate], [Status], [RoleId], [DioceseId], [ParishId]) VALUES (4, N'teacher', N'e10adc3949ba59abbe56e057f20f883e', N'Minh Quân', CAST(0x0000A3CC00000000 AS DateTime), 1, 4, 1, 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
/****** Object:  Table [dbo].[Role]    Script Date: 12/15/2014 01:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Role] ON
INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Quản trị')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'Quản lý')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (3, N'Nhập liệu')
SET IDENTITY_INSERT [dbo].[Role] OFF
/****** Object:  Table [dbo].[Priest]    Script Date: 12/15/2014 01:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Priest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChristianName] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[BirthDate] [char](8) NULL,
	[DioceseId] [int] NOT NULL,
 CONSTRAINT [PK_Priest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Priest] ON
INSERT [dbo].[Priest] ([Id], [ChristianName], [Name], [BirthDate], [DioceseId]) VALUES (1, N'Đaminh', N'Huỳnh Trọng Luân', N'19800702', 1)
INSERT [dbo].[Priest] ([Id], [ChristianName], [Name], [BirthDate], [DioceseId]) VALUES (2, N'Giuse', N'Huỳnh Phong Vân', N'19821202', 1)
INSERT [dbo].[Priest] ([Id], [ChristianName], [Name], [BirthDate], [DioceseId]) VALUES (4, N'Phêrô', N'Trương Tấn Trọng', N'19810901', 1)
SET IDENTITY_INSERT [dbo].[Priest] OFF
/****** Object:  Default [DF_Vocation_IsLeft]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Vocation] ADD  CONSTRAINT [DF_Vocation_IsLeft]  DEFAULT ((0)) FOR [IsLeft]
GO
/****** Object:  Default [DF_ClassMember_IsDone]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[ClassMember] ADD  CONSTRAINT [DF_ClassMember_IsDone]  DEFAULT ((0)) FOR [IsDone]
GO
/****** Object:  Default [DF_Parishioner_IsCounted]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Parishioner] ADD  CONSTRAINT [DF_Parishioner_IsCounted]  DEFAULT ((1)) FOR [IsCounted]
GO
/****** Object:  Default [DF_Parishioner_IsStudying]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Parishioner] ADD  CONSTRAINT [DF_Parishioner_IsStudying]  DEFAULT ((0)) FOR [IsStudying]
GO
/****** Object:  Default [DF_Parishioner_IsCatechumen]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Parishioner] ADD  CONSTRAINT [DF_Parishioner_IsCatechumen]  DEFAULT ((0)) FOR [IsCatechumen]
GO
/****** Object:  Default [DF_Parishioner_IsDead]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Parishioner] ADD  CONSTRAINT [DF_Parishioner_IsDead]  DEFAULT ((0)) FOR [IsDead]
GO
/****** Object:  Default [DF_Parishioner_IsMarried]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Parishioner] ADD  CONSTRAINT [DF_Parishioner_IsMarried]  DEFAULT ((0)) FOR [IsMarried]
GO
/****** Object:  Default [DF_Parishioner_IsSingle]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Parishioner] ADD  CONSTRAINT [DF_Parishioner_IsSingle]  DEFAULT ((0)) FOR [IsSingle]
GO
/****** Object:  Default [DF_Configuration_MultipleParishionerAdding]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Configuration] ADD  CONSTRAINT [DF_Configuration_MultipleParishionerAdding]  DEFAULT ((0)) FOR [MultipleParishionerAdding]
GO
/****** Object:  Default [DF_Configuration_ParishionerCodeGeneration]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Configuration] ADD  CONSTRAINT [DF_Configuration_ParishionerCodeGeneration]  DEFAULT ((1)) FOR [ParishionerCodeGeneration]
GO
/****** Object:  Default [DF_Configuration_CharacterNumber]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Configuration] ADD  CONSTRAINT [DF_Configuration_CharacterNumber]  DEFAULT ((1)) FOR [ParishionerCharacterNumber]
GO
/****** Object:  Default [DF_Configuration_FamilyCodeGeneration]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Configuration] ADD  CONSTRAINT [DF_Configuration_FamilyCodeGeneration]  DEFAULT ((1)) FOR [FamilyCodeGeneration]
GO
/****** Object:  Default [DF_Configuration_FamilyCharacterNumber]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Configuration] ADD  CONSTRAINT [DF_Configuration_FamilyCharacterNumber]  DEFAULT ((1)) FOR [FamilyCharacterNumber]
GO
/****** Object:  Default [DF_Community_IsDefault]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Community] ADD  CONSTRAINT [DF_Community_IsDefault]  DEFAULT ((0)) FOR [IsDefault]
GO
/****** Object:  Default [DF_FamilyMember_IsHouseholder]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[FamilyMember] ADD  CONSTRAINT [DF_FamilyMember_IsHouseholder]  DEFAULT ((0)) FOR [IsHouseholder]
GO
/****** Object:  Default [DF_Family_DomicileStatus]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Family] ADD  CONSTRAINT [DF_Family_DomicileStatus]  DEFAULT ((0)) FOR [DomicileStatus]
GO
/****** Object:  Default [DF_Family_IsCounted]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Family] ADD  CONSTRAINT [DF_Family_IsCounted]  DEFAULT ((1)) FOR [IsCounted]
GO
/****** Object:  ForeignKey [FK_Class_ClassGroup]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_Class_ClassGroup] FOREIGN KEY([ClassGroupId])
REFERENCES [dbo].[ClassGroup] ([Id])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_Class_ClassGroup]
GO
/****** Object:  ForeignKey [FK_Vocation_Parishioner]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Vocation]  WITH CHECK ADD  CONSTRAINT [FK_Vocation_Parishioner] FOREIGN KEY([ParishionerId])
REFERENCES [dbo].[Parishioner] ([Id])
GO
ALTER TABLE [dbo].[Vocation] CHECK CONSTRAINT [FK_Vocation_Parishioner]
GO
/****** Object:  ForeignKey [FK_SocietyMember_Parishioner]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[SocietyMember]  WITH CHECK ADD  CONSTRAINT [FK_SocietyMember_Parishioner] FOREIGN KEY([ParishionerId])
REFERENCES [dbo].[Parishioner] ([Id])
GO
ALTER TABLE [dbo].[SocietyMember] CHECK CONSTRAINT [FK_SocietyMember_Parishioner]
GO
/****** Object:  ForeignKey [FK_SocietyMember_Society]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[SocietyMember]  WITH CHECK ADD  CONSTRAINT [FK_SocietyMember_Society] FOREIGN KEY([SocietyId])
REFERENCES [dbo].[Society] ([Id])
GO
ALTER TABLE [dbo].[SocietyMember] CHECK CONSTRAINT [FK_SocietyMember_Society]
GO
/****** Object:  ForeignKey [FK_Sacrament_Parishioner]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Sacrament]  WITH CHECK ADD  CONSTRAINT [FK_Sacrament_Parishioner] FOREIGN KEY([ParishionerId])
REFERENCES [dbo].[Parishioner] ([Id])
GO
ALTER TABLE [dbo].[Sacrament] CHECK CONSTRAINT [FK_Sacrament_Parishioner]
GO
/****** Object:  ForeignKey [FK_Sacrament_SacramentGroup]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Sacrament]  WITH CHECK ADD  CONSTRAINT [FK_Sacrament_SacramentGroup] FOREIGN KEY([SacramentGroupId])
REFERENCES [dbo].[SacramentGroup] ([Id])
GO
ALTER TABLE [dbo].[Sacrament] CHECK CONSTRAINT [FK_Sacrament_SacramentGroup]
GO
/****** Object:  ForeignKey [FK_ClassMember_Class]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[ClassMember]  WITH CHECK ADD  CONSTRAINT [FK_ClassMember_Class] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([Id])
GO
ALTER TABLE [dbo].[ClassMember] CHECK CONSTRAINT [FK_ClassMember_Class]
GO
/****** Object:  ForeignKey [FK_ClassMember_Parishioner]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[ClassMember]  WITH CHECK ADD  CONSTRAINT [FK_ClassMember_Parishioner] FOREIGN KEY([ParishionerId])
REFERENCES [dbo].[Parishioner] ([Id])
GO
ALTER TABLE [dbo].[ClassMember] CHECK CONSTRAINT [FK_ClassMember_Parishioner]
GO
/****** Object:  ForeignKey [FK_Parishioner_Community]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Parishioner]  WITH CHECK ADD  CONSTRAINT [FK_Parishioner_Community] FOREIGN KEY([CommunityId])
REFERENCES [dbo].[Community] ([Id])
GO
ALTER TABLE [dbo].[Parishioner] CHECK CONSTRAINT [FK_Parishioner_Community]
GO
/****** Object:  ForeignKey [FK_Society_Parish]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Society]  WITH CHECK ADD  CONSTRAINT [FK_Society_Parish] FOREIGN KEY([ParishId])
REFERENCES [dbo].[Parish] ([Id])
GO
ALTER TABLE [dbo].[Society] CHECK CONSTRAINT [FK_Society_Parish]
GO
/****** Object:  ForeignKey [FK_Society_Parishioner]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Society]  WITH CHECK ADD  CONSTRAINT [FK_Society_Parishioner] FOREIGN KEY([ManagedBy])
REFERENCES [dbo].[Parishioner] ([Id])
GO
ALTER TABLE [dbo].[Society] CHECK CONSTRAINT [FK_Society_Parishioner]
GO
/****** Object:  ForeignKey [FK_SacramentGroup_Parish]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[SacramentGroup]  WITH CHECK ADD  CONSTRAINT [FK_SacramentGroup_Parish] FOREIGN KEY([ParishId])
REFERENCES [dbo].[Parish] ([Id])
GO
ALTER TABLE [dbo].[SacramentGroup] CHECK CONSTRAINT [FK_SacramentGroup_Parish]
GO
/****** Object:  ForeignKey [FK_ParishionerMigrationRequest_Community]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[ParishionerMigrationRequest]  WITH CHECK ADD  CONSTRAINT [FK_ParishionerMigrationRequest_Community] FOREIGN KEY([FromCommunityId])
REFERENCES [dbo].[Community] ([Id])
GO
ALTER TABLE [dbo].[ParishionerMigrationRequest] CHECK CONSTRAINT [FK_ParishionerMigrationRequest_Community]
GO
/****** Object:  ForeignKey [FK_ParishionerMigrationRequest_Parish2]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[ParishionerMigrationRequest]  WITH CHECK ADD  CONSTRAINT [FK_ParishionerMigrationRequest_Parish2] FOREIGN KEY([ToParishId])
REFERENCES [dbo].[Parish] ([Id])
GO
ALTER TABLE [dbo].[ParishionerMigrationRequest] CHECK CONSTRAINT [FK_ParishionerMigrationRequest_Parish2]
GO
/****** Object:  ForeignKey [FK_ParishionerMigrationRequest_Parishioner]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[ParishionerMigrationRequest]  WITH CHECK ADD  CONSTRAINT [FK_ParishionerMigrationRequest_Parishioner] FOREIGN KEY([ParishionerId])
REFERENCES [dbo].[Parishioner] ([Id])
GO
ALTER TABLE [dbo].[ParishionerMigrationRequest] CHECK CONSTRAINT [FK_ParishionerMigrationRequest_Parishioner]
GO
/****** Object:  ForeignKey [FK_Configuration_Parish]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Configuration]  WITH CHECK ADD  CONSTRAINT [FK_Configuration_Parish] FOREIGN KEY([ParishId])
REFERENCES [dbo].[Parish] ([Id])
GO
ALTER TABLE [dbo].[Configuration] CHECK CONSTRAINT [FK_Configuration_Parish]
GO
/****** Object:  ForeignKey [FK_Community_Community]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Community]  WITH CHECK ADD  CONSTRAINT [FK_Community_Community] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Community] ([Id])
GO
ALTER TABLE [dbo].[Community] CHECK CONSTRAINT [FK_Community_Community]
GO
/****** Object:  ForeignKey [FK_Community_Parish]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Community]  WITH CHECK ADD  CONSTRAINT [FK_Community_Parish] FOREIGN KEY([ParishId])
REFERENCES [dbo].[Parish] ([Id])
GO
ALTER TABLE [dbo].[Community] CHECK CONSTRAINT [FK_Community_Parish]
GO
/****** Object:  ForeignKey [FK_ClassGroup_Parish]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[ClassGroup]  WITH CHECK ADD  CONSTRAINT [FK_ClassGroup_Parish] FOREIGN KEY([ParishId])
REFERENCES [dbo].[Parish] ([Id])
GO
ALTER TABLE [dbo].[ClassGroup] CHECK CONSTRAINT [FK_ClassGroup_Parish]
GO
/****** Object:  ForeignKey [FK_ClassGroup_Parishioner]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[ClassGroup]  WITH CHECK ADD  CONSTRAINT [FK_ClassGroup_Parishioner] FOREIGN KEY([ManagedBy])
REFERENCES [dbo].[Parishioner] ([Id])
GO
ALTER TABLE [dbo].[ClassGroup] CHECK CONSTRAINT [FK_ClassGroup_Parishioner]
GO
/****** Object:  ForeignKey [FK_Parish_Vicariate]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Parish]  WITH CHECK ADD  CONSTRAINT [FK_Parish_Vicariate] FOREIGN KEY([VicariateId])
REFERENCES [dbo].[Vicariate] ([Id])
GO
ALTER TABLE [dbo].[Parish] CHECK CONSTRAINT [FK_Parish_Vicariate]
GO
/****** Object:  ForeignKey [FK_Message_Account]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_Account]
GO
/****** Object:  ForeignKey [FK_Message_Parish]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_Parish] FOREIGN KEY([ParishId])
REFERENCES [dbo].[Parish] ([Id])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_Parish]
GO
/****** Object:  ForeignKey [FK_Matrimony_Parishioner]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Matrimony]  WITH CHECK ADD  CONSTRAINT [FK_Matrimony_Parishioner] FOREIGN KEY([HusbandId])
REFERENCES [dbo].[Parishioner] ([Id])
GO
ALTER TABLE [dbo].[Matrimony] CHECK CONSTRAINT [FK_Matrimony_Parishioner]
GO
/****** Object:  ForeignKey [FK_Matrimony_Parishioner1]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Matrimony]  WITH CHECK ADD  CONSTRAINT [FK_Matrimony_Parishioner1] FOREIGN KEY([WifeId])
REFERENCES [dbo].[Parishioner] ([Id])
GO
ALTER TABLE [dbo].[Matrimony] CHECK CONSTRAINT [FK_Matrimony_Parishioner1]
GO
/****** Object:  ForeignKey [FK_Matrimony_SacramentGroup]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Matrimony]  WITH CHECK ADD  CONSTRAINT [FK_Matrimony_SacramentGroup] FOREIGN KEY([SacramentGroupId])
REFERENCES [dbo].[SacramentGroup] ([Id])
GO
ALTER TABLE [dbo].[Matrimony] CHECK CONSTRAINT [FK_Matrimony_SacramentGroup]
GO
/****** Object:  ForeignKey [FK_FamilyMigrationRequest_Community]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[FamilyMigrationRequest]  WITH CHECK ADD  CONSTRAINT [FK_FamilyMigrationRequest_Community] FOREIGN KEY([FromCommunityId])
REFERENCES [dbo].[Community] ([Id])
GO
ALTER TABLE [dbo].[FamilyMigrationRequest] CHECK CONSTRAINT [FK_FamilyMigrationRequest_Community]
GO
/****** Object:  ForeignKey [FK_FamilyMigrationRequest_Family]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[FamilyMigrationRequest]  WITH CHECK ADD  CONSTRAINT [FK_FamilyMigrationRequest_Family] FOREIGN KEY([FamilyId])
REFERENCES [dbo].[Family] ([Id])
GO
ALTER TABLE [dbo].[FamilyMigrationRequest] CHECK CONSTRAINT [FK_FamilyMigrationRequest_Family]
GO
/****** Object:  ForeignKey [FK_FamilyMigrationRequest_Parish2]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[FamilyMigrationRequest]  WITH CHECK ADD  CONSTRAINT [FK_FamilyMigrationRequest_Parish2] FOREIGN KEY([ToParishId])
REFERENCES [dbo].[Parish] ([Id])
GO
ALTER TABLE [dbo].[FamilyMigrationRequest] CHECK CONSTRAINT [FK_FamilyMigrationRequest_Parish2]
GO
/****** Object:  ForeignKey [FK_FamilyMember_Family]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[FamilyMember]  WITH CHECK ADD  CONSTRAINT [FK_FamilyMember_Family] FOREIGN KEY([FamilyId])
REFERENCES [dbo].[Family] ([Id])
GO
ALTER TABLE [dbo].[FamilyMember] CHECK CONSTRAINT [FK_FamilyMember_Family]
GO
/****** Object:  ForeignKey [FK_FamilyMember_Parishioner]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[FamilyMember]  WITH CHECK ADD  CONSTRAINT [FK_FamilyMember_Parishioner] FOREIGN KEY([ParishionerId])
REFERENCES [dbo].[Parishioner] ([Id])
GO
ALTER TABLE [dbo].[FamilyMember] CHECK CONSTRAINT [FK_FamilyMember_Parishioner]
GO
/****** Object:  ForeignKey [FK_Family_Community]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Family]  WITH CHECK ADD  CONSTRAINT [FK_Family_Community] FOREIGN KEY([CommunityId])
REFERENCES [dbo].[Community] ([Id])
GO
ALTER TABLE [dbo].[Family] CHECK CONSTRAINT [FK_Family_Community]
GO
/****** Object:  ForeignKey [FK_Vicariate_Diocese]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Vicariate]  WITH CHECK ADD  CONSTRAINT [FK_Vicariate_Diocese] FOREIGN KEY([DioceseId])
REFERENCES [dbo].[Diocese] ([Id])
GO
ALTER TABLE [dbo].[Vicariate] CHECK CONSTRAINT [FK_Vicariate_Diocese]
GO
/****** Object:  ForeignKey [FK_Vicariate_Parish]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Vicariate]  WITH CHECK ADD  CONSTRAINT [FK_Vicariate_Parish] FOREIGN KEY([ParishId])
REFERENCES [dbo].[Parish] ([Id])
GO
ALTER TABLE [dbo].[Vicariate] CHECK CONSTRAINT [FK_Vicariate_Parish]
GO
/****** Object:  ForeignKey [FK_Account_Diocese]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Diocese] FOREIGN KEY([DioceseId])
REFERENCES [dbo].[Diocese] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Diocese]
GO
/****** Object:  ForeignKey [FK_Account_Parish]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Parish] FOREIGN KEY([ParishId])
REFERENCES [dbo].[Parish] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Parish]
GO
/****** Object:  ForeignKey [FK_Account_Role]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
/****** Object:  ForeignKey [FK_Priest_Diocese]    Script Date: 12/15/2014 01:01:24 ******/
ALTER TABLE [dbo].[Priest]  WITH CHECK ADD  CONSTRAINT [FK_Priest_Diocese] FOREIGN KEY([DioceseId])
REFERENCES [dbo].[Diocese] ([Id])
GO
ALTER TABLE [dbo].[Priest] CHECK CONSTRAINT [FK_Priest_Diocese]
GO

CREATE TABLE [ParishManager](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParishId] [int] NULL,
	[PriestId] [int] NOT NULL,
	[StartDate] varchar(8) NOT NULL,
	[EndDate] varchar(8) NULL,	
	[Position] [int] NULL,
	[PositionName] [nvarchar](50) NULL,
	[IdThuyenChuyenLinhMuc] [int] NULL,
 CONSTRAINT [PK_ParishManager] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [ThuyenChuyenLinhMuc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NgayQuyetDinh] varchar(8) NOT NULL,
	[NgayHieuLuc] varchar(8) NOT NULL,
	[NguoiQuyetDinh] nvarchar(200) NULL,
	[MoTa] [nvarchar] (500) NOT NULL,
 CONSTRAINT [PK_ThuyenChuyenLinhMuc] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [VaiTro](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_VaiTro] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [VaiTro] ON
INSERT [VaiTro] ([Id], [Name]) VALUES (1, N'Chánh xứ')
INSERT [VaiTro] ([Id], [Name]) VALUES (2, N'Phó xứ')
SET IDENTITY_INSERT [VaiTro] OFF
SET ANSI_NULLS ON
GO
alter table ParishManager add TakenDate datetime NULL
go

alter table Parish add [PriestId] int null
go

ALTER TABLE [Parish]  WITH CHECK ADD  CONSTRAINT [FK_Parish_Priest] FOREIGN KEY([PriestId])
REFERENCES [Priest] ([Id])
GO
ALTER TABLE [Parish] CHECK CONSTRAINT [FK_Parish_Priest]
GO

CREATE TABLE [GeneralStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar] (255) NOT NULL,
	[Key] [varchar] (10) NOT NULL,
 CONSTRAINT [PK_GeneralStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [GeneralStatus] ON
INSERT [GeneralStatus] ([Id], [Status], [Key]) VALUES (1, N'Đã gởi giấy mời', 'TCLM')
INSERT [GeneralStatus] ([Id], [Status], [Key]) VALUES (2, N'Đã gởi quyết định', 'TCLM')
INSERT [GeneralStatus] ([Id], [Status], [Key]) VALUES (3, N'Đã nhận nhiệm vụ', 'TCLM')
SET IDENTITY_INSERT [VaiTro] OFF
SET ANSI_NULLS ON
GO

alter table ParishManager add [StatusId] int null
go

ALTER TABLE [ParishManager]  WITH CHECK ADD  CONSTRAINT [FK_ParishManager_GeneralStatus] FOREIGN KEY([StatusId])
REFERENCES [GeneralStatus] ([Id])
GO
ALTER TABLE [ParishManager] CHECK CONSTRAINT [FK_ParishManager_GeneralStatus]
GO

--20160122

alter table ParishManager add Code varchar (100) null
go

alter table Parish add Ward nvarchar (100) null
go
alter table Parish add District nvarchar (100) null
go
alter table Parish add Province nvarchar (100) null
go
alter table Priest add Phone nvarchar (20) null
go
update Parish set Ward = '' where Ward is null
go
update Parish set District = '' where District is null
go
update Parish set Province = '' where Province is null
go


ALTER TABLE [ParishManager]  WITH CHECK ADD  CONSTRAINT [FK_ParishManager_VaiTro] FOREIGN KEY([Position])
REFERENCES [VaiTro] ([Id])
GO
ALTER TABLE [ParishManager] CHECK CONSTRAINT [FK_ParishManager_VaiTro]
GO

ALTER TABLE [ParishManager]  WITH CHECK ADD  CONSTRAINT [FK_ParishManager_Priest] FOREIGN KEY([PriestId])
REFERENCES [Priest] ([Id])
GO
ALTER TABLE [ParishManager] CHECK CONSTRAINT [FK_ParishManager_Priest]
GO

ALTER TABLE [ParishManager]  WITH CHECK ADD  CONSTRAINT [FK_ParishManager_Parish] FOREIGN KEY([ParishId])
REFERENCES [Parish] ([Id])
GO
ALTER TABLE [ParishManager] CHECK CONSTRAINT [FK_ParishManager_Parish]
GO

ALTER TABLE [ParishManager]  WITH CHECK ADD  CONSTRAINT [FK_ParishManager_ThuyenChuyenLinhMuc] FOREIGN KEY([IdThuyenChuyenLinhMuc])
REFERENCES [ThuyenChuyenLinhMuc] ([Id])
GO
ALTER TABLE [ParishManager] CHECK CONSTRAINT [FK_ParishManager_ThuyenChuyenLinhMuc]
GO
