<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PMS.DataAccess.Properties.Settings.PMSConnectionString"
            connectionString="Data Source=KHOIHMSE60981\SQL2008;Initial Catalog=PMS;Persist Security Info=True;User ID=sa;Password=minhkhoi"
            providerName="System.Data.SqlClient" />
        <add name="PMS.DataAccess.Properties.Settings.PMSConnectionString1"
            connectionString="Data Source=tuanhm60197\SQL2008;Initial Catalog=PMS;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PMS.DataAccess.Properties.Settings.PMSConnectionString2"
            connectionString="Data Source=KHOIHMSE60981\SQL2008;Initial Catalog=PMS;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PMS.DataAccess.Properties.Settings.PMSConnectionString3"
            connectionString="Data Source=QuanLM60389\SQL2008;Initial Catalog=PMS;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="PMS.DataAccess.Properties.Settings.PMSConnectionString4"
            connectionString="Data Source=POLE-PC\SQLEXPRESS;Initial Catalog=PMS;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
        <add name="PMS.DataAccess.Properties.Settings.PMSConnectionString5"
            connectionString="Data Source=THIPC;Initial Catalog=PMS;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
        <add name="PMS.DataAccess.Properties.Settings.QLGPConnectionString"
            connectionString="Data Source=.\SQLExpress;Initial Catalog=QLGP;Integrated Security=True;MultipleActiveResultSets=False"
            providerName="System.Data.SqlClient" />
        <add name="PMS.DataAccess.Properties.Settings.QLGPConnectionString1"
            connectionString="Data Source=ToanPBSE61011;Initial Catalog=QLGP;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
        <add name="PMS.DataAccess.Properties.Settings.QLGP_0529ConnectionString"
            connectionString="Data Source=.\SQLExpress;Initial Catalog=QLGP_0529;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
        <add name="PMS.DataAccess.Properties.Settings.QLGP_TestConnectionString"
            connectionString="Data Source=.\SQLExpress;Initial Catalog=QLGP_Test;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>