
@{
    ViewBag.Title = "Family";
}

<input id="requestId" type="hidden" value="0" />
<div class="col-xs-12">
    <div class="widget-box transparent ui-sortable-handle">
        <div class="widget-header">
            <h3 class="widget-title lighter">Danh sách thông tin gia đình chuyển xứ đã nhận</h3>
        </div>
        <div class="space-6"></div>
        <div class="row">
            <div class="col-xs-12">
                <button id="btnApproveFamilyMigrationRequest" class="btn btn-success" data-toggle="modal">
                    <i class="ace-icon fa fa-check"></i> Duyệt nhiều
                </button>
            </div>
        </div>
        <div class="space-6"></div>
        <div class="widget-body">
            <table id="tblApproveFamilyMigrationRequest" class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            <label class="position-relative">
                                <input type="checkbox" class="ace" />
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th>Tên gia đình</th>
                        <th>Chủ hộ</th>
                        <th>Số nhân khẩu</th>
                        <th>Điện thoại</th>
                        <th>Từ giáo xứ</th>
                        <th>Ngày tạo yêu cầu</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<!--Approve Modal-->
<div id="approveFamilyRequestModal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="widget-box transparent">
                <div class="widget-header center">
                    <div class="col-xs-12">
                        <h4 class="widget-title lighter" id="FamilyRequestTitle">Chọn giáo họ/khu cho gia đình</h4>
                    </div>
                </div>
                <div class="widget-body">
                    <!--end row-->
                    <div class="space-8"></div>
                    <div class="col-sm-offset-2 col-sm-8 col-sm-offset-2">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"> Giáo họ / khu  (<span style="color:red">*</span>) </label>

                                <div class="col-sm-9">
                                    <select class="form-control" id="cbbCommunityModal">
                                        <option value=""></option>
                                    </select>
                                    <label id="lbFamilyRequestErrorMessage" class="text-danger" hidden=""></label>
                                </div>
                            </div>
                        </div>

                        <div class="space-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-12">
                                <div class="align-right">
                                    <button id="btnApproveFamilyRequestModal" class="btn btn-primary" data-toggle="modal">
                                        <i class="ace-icon fa fa-save"></i> Lưu
                                    </button>
                                    <button id="btnCloseFamilyRequestModal" class="btn btn-grey" data-toggle="modal">
                                        <i class="ace-icon fa fa-times"></i> Đóng
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-6"></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Priest Modal-->
@Html.Partial("_ViewReadonlyFamilyModal")
<script>

    $("#hiddenDomicile").val(1);

    function refreshFamilyRequestTable() {
        updateTableContent("tblApproveFamilyMigrationRequest");
        //$("#tblApproveFamilyMigrationRequest").dataTable()._fnAjaxUpdate();
    }

    InitApproveFamilyMigrationRequestDatatable();
    function InitApproveFamilyMigrationRequestDatatable() {

        $("#tblApproveFamilyMigrationRequest").dataTable({
            "bRetrieve": true,
            "bServerSide": true,
            "bScrollCollapse": true,
            "sAjaxSource": "/ApproveRequest/LoadFamilyMigrationRequest",
            //"bProcessing": true,
            //"fnServerParams": function (aoData) {
            //    aoData.push({ "name": "vicariateId", "value": $("#selectVicariate").val() });
            //},
            "oLanguage": {
                "sSearch": "Tên gia đình/ Chủ hộ",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "sInfoEmpty": "",
                "oPaginate": {
                    "sPrevious": "Trước",
                    "sNext": "Sau"
                }
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0],
                    "bVisible": false,
                },
                {
                    "aTargets": [1],
                    "render": function (data, type, full, meta) {
                        var content = '<label class="position-relative">' +
                            '<input type="checkbox" class="ace fAce" value="' + data + '"/>' +
                            '<span class="lbl"></span> </label>';
                        return content;
                    },
                    "bSortable": false
                },
                {
                    "aTargets": [8],
                    "render": function (data, type, full, meta) {
                        var content =
                            '<button class="btn btn-minier btn-primary" onclick="loadReadonlyFamilyById(' + full[0] + ')">' + '<i class="ace-icon fa fa-search-plus"></i>&nbsp;Chi tiết</button>' +
                                '<button class="btn btn-minier btn-success" onclick="openApproveModal(' + data + ')"><i class="ace-icon fa fa-check"></i>Duyệt</button>' +
                                '<button class="btn btn-minier btn-danger" onclick="denyFamilyMigrationRequestConfirm(' + data + ')">' + '<i class="ace-icon fa fa-times"></i>Bỏ qua</button>';
                        return content;
                    },
                    "bSortable": false
                }
            ],
            "bAutoWidth": false,
        });

    }
    $(document).on('click', 'th input:checkbox', function () {
        var that = this;
        $(this).closest('table').find('tr > td:first-child input:checkbox')
            .each(function () {
                this.checked = that.checked;
                $(this).closest('tr').toggleClass('selected');
            });
    });

    $("#btnApproveFamilyMigrationRequest").click(function () {
        var checks = new Array();

        $(".fAce:checked").each(function () {
            if ($(this).is(':checked')) {
                checks.push($(this).val());
            }
        });

        if (checks.length == 0) {
            showMessage("Vui lòng chọn yêu cầu để duyệt", -1);

        } else {
            openApproveModal(0);
        }

    });
    $("#btnCloseFamilyRequestModal").click(function () {
        $("#approveFamilyRequestModal").modal('hide');
        clearApproveRequestModal();
    });
    //-----------------
    loadCommunity();

    function loadCommunity() {
        $.ajax({
            url: "/Parishioner/LoadCommunityAndParishDivisionTreeView",
            data: {},
            success: function (data) {
                var element = $("#cbbCommunityModal");
                //append data
                element.html(data);
            }
        });
    }
    //---------------------
    $("#btnApproveFamilyRequestModal").click(function () {
        var requestId = $("#requestId").val();
        familyApproveRequestChosen(requestId);
    });

    function familyApproveRequestChosen(id) {
        var communityId = $("#cbbCommunityModal").val();
        if (communityId == 0) {
            $("#lbFamilyRequestErrorMessage").html("Vui lòng chọn giáo họ hoặc giáo khu (nếu có) cho gia đình được chuyển đến!");
            $("#lbFamilyRequestErrorMessage").show();
            return;
        } else {
            $("#lbFamilyRequestErrorMessage").html("");
            $("#lbFamilyRequestErrorMessage").hide();
        }
        var checks = new Array();


        if (id == 0) {
            $(".fAce:checked").each(function () {
                if ($(this).is(':checked')) {
                    checks.push($(this).val());
                }
            });
        } else {
            checks.push(id);
        }


        if (checks.length > 0) {

            $.ajax({
                url: "/ApproveRequest/ApproveFamilyMigrationRequest",
                type: "POST",
                traditional: true,
                data: {
                    communityId: communityId,
                    ids: checks
                },
                success: function (data) {
                    if (data.result <= 0) {
                        showMessage("Duyệt yêu cầu thất bại, vui lòng thực hiện lại!", 0);
                    } else {
                        showMessage("Duyệt yêu cầu chuyển xứ thành công", 1);
                        refreshFamilyRequestTable();
                        countMigrationRequest();
                        $("#approveFamilyRequestModal").modal('hide');
                        clearApproveRequestModal();

                    }
                },
            });
        }
    }

    function openApproveModal(id) {
        $("#requestId").val(id);
        $("#approveFamilyRequestModal").modal('show');
    }

    function clearApproveRequestModal() {
        $("#lbFamilyRequestErrorMessage").html("");
        $("#lbFamilyRequestErrorMessage").hide();
    }

    function denyFamilyMigrationRequestConfirm(id) {
        bootbox.dialog({
            closeButton: false,
            message: "Bạn có chắc muốn bỏ qua thông tin chuyển xứ này không?",
            title: "Xác nhận",
            buttons: {
                danger: {
                    label: " Có",
                    className: "ace-icon fa fa-check btn-danger",
                    callback: function () {
                        denyFamilyMigrationRequest(id);
                    }
                },
                main: {
                    label: " Không",
                    className: "ace-icon fa fa-times btn-grey",
                    callback: function () {
                    }
                }
            }
        });
    }

    function denyFamilyMigrationRequest(id) {
        $.ajax({
            url: "/ApproveRequest/DenyFamilyMigrationRequest",
            type: "POST",
            data: {
                id: id
            },
            success: function (data) {
                if (data.result <= 0) {
                    showMessage("Có lỗi xảy ra, vui lòng thực hiện lại!", 0);
                } else {
                    showMessage("Bỏ qua thông tin chuyển xứ thành công", 1);
                    refreshFamilyRequestTable();
                    countMigrationRequest();
                }
            },
        });
    }
</script>

