<div style="margin: 0px auto; width: 550px;">
    <div class="col-xs-12 background-image" style="border-style:solid;border-width:3px; padding: 12px;">
        <div class="col-xs-4 text-center">
            <h5><b>GIÁO PHẬN XUÂN LỘC<br />XUAN LOC DIOCESE</b></h5>
            <h5 style="text-decoration: overline; color: cornflowerblue;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
        </div>
        <div class="col-xs-8 text-center">
            <h2 style="margin-bottom: 0px;"><b>THẺ LINH MỤC</b></h2>
            <h5 style="margin-top: 0px; margin-bottom: 10px;"><b>PRIEST IDENTITY CARD</b></h5>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-3">
                <img src="[ImageURL]" class="img-thumbnail" width="160" height="240" />
            </div>
            <div class="col-sm-9">
                <div>
                    <small>Họ tên : </small>
                    <strong style="text-transform: uppercase;">[PriestName]</strong><br />
                    <small><i>(Full name)</i></small>
                </div>
                <div>
                    <small>Ngày và nơi sinh :  </small>
                    <strong>[Birth]</strong><br />
                    <small><i>(Date and place of birth)</i></small>
                </div>
                <div>
                    <small>Chịu chức Linh mục: </small>
                    <strong>[OrdinationDate]</strong><br />
                    <small><i>(Ordained Priest)</i></small>
                </div>
                <div>
                    <small>CMND: </small>
                    <strong>[IDNo]</strong>
                    <small> Cấp ngày: </small>
                    <strong>[IDDate]</strong>
                    <small> tại: </small>
                    <strong>[IDPlace]</strong><br />
                    <small>
                        <i>
                            (Identity Card.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Date of issue&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Issued by)
                        </i>
                    </small>
                </div>
                <div>
                    <small>Địa chỉ: </small>
                    <strong>[Address]</strong><br />
                    <small><i>(Address)</i></small>
                </div>
                <div>
                    <small>Điện thoại: </small>
                    <strong>[Phone]</strong><br />
                    <small><i>(Telephone)</i></small>
                </div>
            </div>
        </div>
        <div class="col-sm-12 text-center">
            <h2 style="color: red; text-decoration: underline; margin-top: 0px"><b>CELEBRET</b></h2>
        </div>
    </div>
</div>
<div style="margin: 0px auto;margin-top: 15px; width: 550px;">
    <div class="col-xs-12 text-center background-image" style="border-style:solid;border-width:3px; padding: 12px;">
        <h3 style="margin-bottom: 0px; margin-top:82px;"><strong>[Bishop]</strong></h3>
        <h4 style="margin-top: 0px;"><i>Dei et Sanctae Sedis Apostolicae gratia <br /> Episcopus Xuanlocensis</i></h4>
        <h3 style="margin-top: 5px; margin-bottom: 0px;">Sanctae Ecclesiae Catholicae Praelatis et Rectoribus</h3>
        <h3 style="margin-top: 0px; margin-bottom: 0px;">R. D.  <strong>[PriestName]</strong></h3>
        <h3 style="margin-top: 0px; margin-bottom: 0px;"><i>Sacerdotem Nostrae Dioecesi addictum, his praesentibus</i></h3>
        <h3 style="margin-top: 0px; margin-bottom: 0px;"><i>litteris ad </i><strong>[ThreeYearDate]</strong><i> valituris, commendamus, ut omnes </i></h3>
        <h3 style="margin-top: 0px; margin-bottom: 0px;"><i>quos adierit, benigne eum recipere atque Missam</i></h3>
        <h3 style="margin-top: 0px; margin-bottom: 0px;"><i>celebrandi facultatem libenter ei tribuere dignentur.</i></h3>
        <h3 style="margin-top: 0px; margin-bottom: 82px;"><i>Datum Xuân Lộc die : </i><strong>[CurrentDate]</strong></h3>
    </div>
</div>