@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>Đổi mật khẩu</h1>
</div>
<div class="form-horizontal">
    <div class="col-sm-12">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-4 control-label align-left" for="form-field-1"> Mật khẩu hiện tại &nbsp;(<span style="color: red">*</span>) </label>
                <div class="col-sm-8">
                    <input type="password" id="currentPassword" class="form-control">
                    <label class="text-danger" id="currentPasswordValidate" hidden=""></label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label align-left" for="form-field-1"> Mật khẩu mới &nbsp;(<span style="color: red">*</span>) </label>
                <div class="col-sm-8">
                    <input type="password" id="newPassword" class="form-control" placeholder="Mật khẩu phải có ít nhất từ 6 đến 100 kí tự">
                    <label class="text-danger" id="newPasswordValidate" hidden=""></label>
                    <label class="text-danger" id="checkNewOldValidate" hidden=""></label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label align-left" for="form-field-1"> Xác nhận mật khẩu mới &nbsp;(<span style="color: red">*</span>) </label>
                <div class="col-sm-8">
                    <input type="password" id="confirmPassword" class="form-control">
                    <label class="text-danger" id="confirmPasswordValidate" hidden=""></label>
                    <label class="text-danger" id="checkMatchPasswordValidate" hidden=""></label>
                </div>
            </div>
            <div class="form-group align-center">
                <button class="btn btn-lg btn-success" id="btnChangePassword" onclick="ChangePassword()">Đổi mật khẩu</button>
                <label class="text-danger" id="societyNameValidate" hidden=""></label>
            </div>
        </div>
    </div>
</div>

<script>
    function CheckValidate() {
        var currentPass = $("#currentPassword").val();
        var newPass = $("#newPassword").val();
        var confirmPass = $("#confirmPassword").val();

        if (!currentPass || !newPass || !confirmPass || newPass != confirmPass || currentPass == newPass || newPass.length < 6) {
            if (!currentPass) {
                $("#currentPasswordValidate").html("Hãy nhập mật khẩu hiện tại");
                $("#currentPasswordValidate").show();
            } else {
                $("#currentPasswordValidate").html("");
                $("#currentPasswordValidate").hide();
            }

            if (!newPass) {
                $("#newPasswordValidate").html("Hãy nhập mật khẩu mới");
                $("#newPasswordValidate").show();
            } else {
                if (newPass.length < 6) {
                    $("#newPasswordValidate").html("Mật khẩu mới phải có ít nhất từ 6 đến 100 kí tự");
                    $("#newPasswordValidate").show();
                } else {
                    if (!confirmPass) {
                        $("#confirmPasswordValidate").html("Hãy xác nhận mật khẩu mới");
                        $("#confirmPasswordValidate").show();
                        $("#newPasswordValidate").html("");
                        $("#newPasswordValidate").hide();
                    } else {
                        $("#newPasswordValidate").html("");
                        $("#newPasswordValidate").hide();
                        $("#confirmPasswordValidate").html("");
                        $("#confirmPasswordValidate").hide();
                    }
                }
            }
            if ((newPass && confirmPass) && newPass != confirmPass) {
                $("#checkMatchPasswordValidate").html("Mật khẩu mới và xác nhận mật khẩu mới không trùng nhau !");
                $("#checkMatchPasswordValidate").show();
            } else {
                $("#checkMatchPasswordValidate").html("");
                $("#checkMatchPasswordValidate").hide();
            }
            if ((currentPass && newPass) && currentPass == newPass) {
                $("#checkNewOldValidate").html("Mật khẩu mới và mật khẩu hiện tại phải khác nhau");
                $("#checkNewOldValidate").show();
            } else {
                $("#checkNewOldValidate").html("");
                $("#checkNewOldValidate").hide();
            }
            return false;
        }

        $("#checkNewOldValidate").html("");
        $("#checkNewOldValidate").hide();
        $("#checkMatchPasswordValidate").html("");
        $("#checkMatchPasswordValidate").hide();
        $("#currentPasswordValidate").html("");
        $("#currentPasswordValidate").hide();
        $("#newPasswordValidate").html("");
        $("#newPasswordValidate").hide();
        $("#confirmPasswordValidate").html("");
        $("#confirmPasswordValidate").hide();
        return true;
    }

    function ChangePassword() {
        if (!CheckValidate()) {
            return false;
        }
        var currentPassword = $("#currentPassword").val();
        var newPassword = $("#newPassword").val();
        startLoading();
        $.ajax({
            url: "/Account/CheckPassword",
            type: "POST",
            data: {
                CurrentPassword: currentPassword,
                NewPassword: newPassword
            },
            success: function (data) {
                if (data.result <= 0) {
                    $("#currentPasswordValidate").html("Mật khẩu hiện tại không đúng. Vui lòng kiểm tra lại");
                    $("#currentPasswordValidate").show();
                } else {
                    showMessage("Đổi mật khẩu thành công", 1);
                    $("#currentPasswordValidate").html("");
                    $("#currentPasswordValidate").hide();
                    $("#confirmPasswordValidate").html("");
                    $("#confirmPasswordValidate").hide();
                    clearData();
                }
            },
        });
    }

    function clearData() {
        $("#currentPassword").val('');
        $("#newPassword").val('');
        $("#confirmPassword").val('');
    }

</script>