
@{
    ViewBag.Title = "TimeoutRedirect";
}

<meta http-equiv="refresh" content="5;url=/Account/Login/" />

<div class="col-xs-12">
    <div class="well well-lg">
        <h3 class="text-primary"><span class="blue bigger"><i class="ace-icon glyphicon glyphicon-time"></i></span> Thời gian truy cập tài khoản hết hạn</h3>
        <h4 class="lighter smaller">Xin lỗi nhưng quyền truy cập của tài khoản này đã hết hạn, vui lòng đăng nhập lại. Bạn sẽ được chuyển đến trang đăng nhập trong 5 giây nữa...</h4>
    </div>
</div>

