@{
    ViewBag.Title = "NotFound";
}


<div class="main-content">

    <div class="page-content">
          
        <div class="page-content-area">
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->

                    <div class="error-container">
                        <div class="well">
                            <h1 class="grey lighter smaller">
                                <span class="blue bigger-125">
                                    <i class="ace-icon fa fa-sitemap"></i>
                                    404
                                </span>
                                Trang không tồn tại
                            </h1>

                            <hr />
                            <h3 class="lighter smaller">Trang này không tồn tại trong hệ thống, vui lòng kiểm tra lại đường dẫn</h3>
                        </div>
                    </div>

                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content-area -->
    </div><!-- /.page-content -->
</div><!-- /.main-content -->



