@{
    ViewBag.Title = "Index";
}
<div ng-controller="SeminarianController">
    <div class="col-xs-12">
        <div class="widget-box transparent ui-sortable-handle">
            <div class="space-4"></div>
            <div class="widget-header">
                <h3 class="widget-title lighter">Danh sách chủng sinh</h3>
            </div>
            <div class="space-6"></div>
            <div class="widget-body">
                <button id="btnCreateSeminarian" class="btn btn-success" data-toggle="modal">
                    <i class="ace-icon fa fa-plus"></i> Thêm chủng sinh
                </button>
                <div class="space-6"></div>
                <table id="seminarianTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                <label class="position-relative">
                                    <input type="checkbox" class="ace" />
                                    <span class="lbl"></span>
                                </label>
                            </th>
                            <th>Tên thánh</th>
                            <th>Họ tên</th>
                            <th>Ngày sinh</th>
                            <th>Niên khóa</th>
                            <th>Số điện thoại</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <!--Seminary Year Modal-->
    <div id="createSeminarianModal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <style>
            .error {
                color: #a94442;
            }

            .typeahead-search-box ul.dropdown-menu li:nth-child(2n+1) {
                background: #fff;
            }

            .typeahead-search-box ul.dropdown-menu li:nth-child(2n) {
                background: #f5f5f5;
            }

            .typeahead-wrapper {
                position: relative;
            }

                .typeahead-wrapper ul.dropdown-menu {
                    width: 100%;
                }

            tr.deleted {
                text-decoration: line-through;
            }
        </style>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="widget-box transparent">
                    <div class="widget-header center">
                        <div class="col-xs-12">
                            <h4 class="widget-title lighter">{{isEdit ? 'Chỉnh sửa chủng sinh' : 'Thêm chủng sinh'}}</h4>
                            <input type="hidden" ng-model="seminarian.Parishioner.Id" id="seminarianId" />
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="space-10"></div>
                        <div class="col-sm-offset-1 col-sm-10">
                            <div ng-if="!isEdit" class="row">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right">Chủng sinh&nbsp;(<span style="color: red">*</span>)</label>
                                    <div class="col-sm-9 typeahead-search-box">
                                        <div class="typeahead-wrapper">
                                            <input typeahead-wait-ms="500" typeahead-template-url="searchParishionerTemplate.html" type="text" ng-model="seminarian.Parishioner" placeholder="" typeahead-editable="false" uib-typeahead="p as p.Display for p in getParishioners($viewValue)" typeahead-loading="loadingParishioner" typeahead-no-results="noParishionerFound" class="form-control">
                                            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                            <div ng-show="noResults">
                                                <i class="glyphicon glyphicon-remove"></i> Không tìm thấy dữ liệu
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="isEdit" class="row">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right">Chủng sinh</label>
                                    <label class="col-sm-9 control-label">
                                        {{seminarian.Parishioner.Display}}
                                    </label>
                                </div>
                            </div>
                            <div class="space-10"></div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table table-condensed table-striped">
                                            <tbody>
                                                <tr>
                                                    <td>Ngày sinh</td>
                                                    <td>{{seminarian.Parishioner.BirthDate | date: 'dd/MM/yyyy'}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Số điện thoại</td>
                                                    <td>{{seminarian.Parishioner.Phone}} {{seminarian.Parishioner.Phone && seminarian.Parishioner.MobilePhone ? '-' : ''}} {{seminarian.Parishioner.MobilePhone}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Email</td>
                                                    <td>{{seminarian.Parishioner.Email}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Địa chỉ</td>
                                                    <td>{{seminarian.Parishioner.Address}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="space-10"></div>
                            <div class="row" ng-if="seminarian.Parishioner.Id">
                                <div class="col-sm-12 text-center"><label class="control-label"><b>Niên khóa đã học</b></label></div>
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Chủng viện</th>
                                                    <th>Mã niên khóa</th>
                                                    <th>Thời gian</th>
                                                    <th>Thực tế</th>
                                                    <th>Trạng thái</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="vsy in seminarian.VocationSeminaryYears" ng-class="{'deleted': vsy.Deleted}">
                                                    <td>{{vsy.SeminaryYear.SeminaryName}}</td>
                                                    <td>{{vsy.SeminaryYear.SeminaryYearCode}}</td>
                                                    <td>{{vsy.SeminaryYear.StartAt | date:'yyyy'}} - {{vsy.SeminaryYear.EndAt | date:'yyyy'}}</td>
                                                    <td>{{vsy.ActualStart | date:'yyyy'}} - {{vsy.ActualEnd | date:'yyyy'}}</td>
                                                    <td>{{vsy.Status == 0 ? 'Chưa tốt nghiệp' : 'Đã tốt nghiệp'}}</td>
                                                    <td>
                                                        <button ng-if="!vsy.Deleted" class="btn btn-minier btn-primary" ng-click="editVocationSeminaryYear(vsy)"><i class="ace-icon fa fa-pencil"></i>Sửa</button>
                                                        <button ng-if="!vsy.Deleted" class="btn btn-minier btn-danger" ng-click="deleteVocationSeminaryYear(vsy, $index)"><i class="ace-icon fa fa-trash-o"></i>Xóa</button>
                                                        <button ng-if="vsy.Deleted" class="btn btn-minier btn-danger" ng-click="undeleteVocationSeminaryYear(vsy, $index)"><i class="ace-icon fa fa-refresh"></i>Phục hồi</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="space-10"></div>
                            <div class="row" ng-if="seminarian.Parishioner.Id">
                                <div class="form-group">
                                    <label ng-if="!isEditVocationSeminaryYear" class="col-sm-3 control-label no-padding-right">Thêm niên khóa&nbsp;(<span style="color: red">*</span>)</label>
                                    <label ng-if="isEditVocationSeminaryYear" class="col-sm-3 control-label no-padding-right">Niên khóa</label>
                                    <div ng-if="!isEditVocationSeminaryYear" class="col-sm-9 typeahead-search-box">
                                        <div class="typeahead-wrapper">
                                            <input type="text" typeahead-on-select="changeSeminaryYear(seminarian.NewSeminaryYear)" ng-model="seminarian.NewSeminaryYear.SeminaryYear" placeholder="" typeahead-min-length="0" typeahead-editable="false" uib-typeahead="s as s.Display for s in getFiltedSeminaryYears($viewValue)" typeahead-no-results="noSeminaryYearFound" class="form-control">
                                            <div ng-show="noResults">
                                                <i class="glyphicon glyphicon-remove"></i> Không tìm thấy dữ liệu
                                            </div>
                                        </div>
                                    </div>
                                    <label ng-if="isEditVocationSeminaryYear" class="col-sm-9 control-label">
                                        <b>{{seminarian.NewSeminaryYear.SeminaryYear.Display}}</b>
                                    </label>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="row" ng-if="seminarian.NewSeminaryYear.SeminaryYear.Id">
                                <label class="col-sm-3 control-label" no-padding-right><i>Thông tin học tập</i></label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">
                                                Năm bắt đầu (thực tế)
                                            </label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" datepicker datepicker-options="seminaryYearDatePickerOptions" ng-model="seminarian.NewSeminaryYear.ActualStart" />
                                                <div class="error" ng-if="actualStartError">{{actualStartError}}</div>
                                            </div>
                                            <label class="col-sm-3 control-label">
                                                Năm kết thúc (thực tế)
                                            </label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" datepicker datepicker-options="seminaryYearDatePickerOptions" ng-model="seminarian.NewSeminaryYear.ActualEnd" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">
                                                Tình trạng
                                            </label>
                                            <div class="col-sm-6" ng-class="{'col-sm-6': !isEditVocationSeminaryYear, 'col-sm-4': isEditVocationSeminaryYear}">
                                                <select class="form-control" ng-model="seminarian.NewSeminaryYear.Status">
                                                    <option value="0">Chưa tốt nghiệp</option>
                                                    <option value="1">Tốt nghiệp</option>
                                                </select>
                                            </div>
                                            <div ng-if="!isEditVocationSeminaryYear" class="col-sm-3">
                                                <a ng-click="addNewSeminaryYear()" class="btn btn-success" style="padding: 2px 12px; width: 100%;">Thêm</a>
                                            </div>
                                            <div ng-if="isEditVocationSeminaryYear" class="col-sm-5">
                                                <a ng-click="saveEditVocationSeminaryYear()" class="btn btn-success" style="padding: 2px 12px; width: 60%">Cập nhật</a>
                                                <a ng-click="cancelEditVocationSeminaryYear()" class="btn btn-grey" style="padding: 2px 12px; width: 37%">Hủy</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="space-10"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="align-right">
                                        <div class="space-6"></div>
                                        <button ng-if="!isEdit" ng-click="createSeminarian()" class="btn btn-primary" data-toggle="modal">
                                            <i class="ace-icon fa fa-save"></i> Lưu
                                        </button>
                                        <button ng-if="isEdit" ng-click="updateSeminarian()" class="btn btn-primary" data-toggle="modal">
                                            <i class="ace-icon fa fa-save"></i> Cập Nhật
                                        </button>
                                        <button ng-click="closeSeminarianModal()" class="btn btn-grey" data-toggle="modal">
                                            <i class="ace-icon fa fa-times"></i> Đóng
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="searchParishionerTemplate.html">
        <a>
            <div class="table-responsive">
                <table class="table" style="border:none">
                    <tbody>
                        <tr>
                            <td width="120px" style="border:none">Tên</td>
                            <td style="border:none">{{match.model.ChristianName}} {{match.model.Name}}</td>
                        </tr>
                        <tr ng-if="match.model.BirthDate || match.model.BirthDate">
                            <td>Ngày sinh</td>
                            <td>{{match.model.BirthDate | date: 'dd/MM/yyyy'}}</td>
                        </tr>
                        <tr ng-if="match.model.Phone || match.model.MobilePhone">
                            <td>Số điện thoại</td>
                            <td>{{match.model.Phone}} {{match.model.Phone && match.model.MobilePhone ? '-' : ''}} {{match.model.MobilePhone}}</td>
                        </tr>
                        <tr ng-if="match.model.Email">
                            <td>Email</td>
                            <td>{{match.model.Email}}</td>
                        </tr>
                        <tr ng-if="match.model.Address">
                            <td>Địa chỉ</td>
                            <td>{{match.model.Address}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </a>
    </script>
</div>
<!--End Seminary Year Modal-->
<script>
    InitDatatable();
    function InitDatatable() {
        $("#seminarianTable").dataTable({
            "bRetrieve": true,
            "bServerSide": true,
            "bScrollCollapse": true,
            "sAjaxSource": "/Seminarian/LoadSeminarianDatatable",
            //"bProcessing": true,
            "oLanguage": {
                "sSearch": "Từ khóa",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "sInfoEmpty": "",
                "oPaginate": {
                    "sPrevious": "Trước",
                    "sNext": "Sau"
                }
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0, 1],
                    "bVisible": false,
                },
                {
                    "aTargets": [1],
                    "render": function (data, type, full, meta) {
                        var content = '<label class="position-relative">' +
                            '<input type="checkbox" class="ace" value="' + data + '"/>' +
                            '<span class="lbl"></span> </label>';
                        return content;
                    },
                    "bSortable": false
                },
                {
                    "aTargets": [7],
                    "render": function (data, type, full, meta) {
                        var content = '<button class="btn btn-minier btn-primary" onclick="LoadSeminarianBySeminarianId(' + data + ')"><i class="ace-icon fa fa-pencil"></i>Sửa</button>' +
                            '<button class="btn btn-minier btn-danger" onclick="DeleteConfirm(' + data + ')">' + '<i class="ace-icon fa fa-trash-o"></i>Xóa</button>';
                        return content;
                    },
                    "bSortable": false,
                    "sWidth": "15%"
                }
            ],
            "bAutoWidth": false,
        });

    }
    function refreshSeminarianTable() {
        updateTableContent("seminarianTable");
    }
    $(document).on('click', 'th input:checkbox', function () {
        var that = this;
        $(this).closest('table').find('tr > td:first-child input:checkbox')
        .each(function () {
            this.checked = that.checked;
            $(this).closest('tr').toggleClass('selected');
        });
    });

    $("#btnCreateSeminarian").click(function () {
        var scope = angular.element(document.getElementById('seminarianId')).scope();
        scope.addSeminarian();
    });

    $("#btnCloseSeminarianModal").click(function () {
        $("#createSeminarianModal").modal('hide');
        clearSeminarian();
    });

    function LoadSeminarianBySeminarianId(id) {
        var scope = angular.element(document.getElementById('seminarianId')).scope();
        scope.load(id);
    }

    function getDate(str) {
        if (!str) {
            return null;
        }
        var date = eval('new ' + str.replace(/\//g, ''));
        return date;
    }

    function DeleteConfirm(id) {
        var scope = angular.element(document.getElementById('seminarianId')).scope();
        scope.deleteSeminarian(id);
    }

    function clearSeminarian() {
        $("#seminarianId").val('');
        var scope = angular.element(document.getElementById('seminarianId')).scope();
        scope.clearSeminarian();
    }

</script>

@section Scripts
{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-1.3.1.min.js"></script>
    <script type="text/javascript">
        var myApp = angular.module('myApp', ['ui.bootstrap']);

        myApp.directive('datepicker', ['$filter', function ($filter) {
            return {
                restrict: 'A',
                require: 'ngModel',
                link: function (scope, element, attrs, ngModel) {
                    var baseOptions = {
                        autoclose: true,
                        todayHighlight: true,
                        forceParse: false,
                        format: "dd/MM/yyyy"
                    }
                    var options = attrs.datepickerOptions;
                    if (options) {
                        options = scope.$eval(options);
                        for (var key in options) {
                            baseOptions[key] = options[key];
                        }
                    }

                    if (ngModel) {
                        ngModel.$parsers.unshift(function (data) {
                            //convert data from view format to model format
                            data = $(element).datepicker('getDate');
                            return data; //converted
                        });

                        ngModel.$render = function () {
                            $(element).datepicker('setDate', new Date(ngModel.$viewValue));
                        };
                    }

                    element.datepicker(baseOptions)
                        .on('changeDate', function () {
                            ngModel.$viewValue = element.datepicker('getDate');
                            ngModel.$modelValue = ngModel.$viewValue;
                            ngModel.$commitViewValue();
                        });
                }
            }
        }])

        myApp.controller('SeminarianController', ['$scope', '$http', function ($scope, $http) {
            $scope.isEdit = false;
            $scope.seminaryYearDatePickerOptions = {
                format: 'dd/mm/yyyy',
            }

            $scope.seminaryYears = [];

            $http.get('/Seminary/GetAllSeminaryYears')
                .success(function (data) {
                    $scope.seminaryYears = data.map(function (s) {
                        s.StartAt = getDate(s.StartAt);
                        s.EndAt = getDate(s.EndAt);
                        s.Display = s.SeminaryName + ' khóa ' + s.SeminaryYearCode + ' ' + s.StartAt.getFullYear() + ' - ' + s.EndAt.getFullYear();
                        return s;
                    });
                });

            $scope.seminarian = { NewSeminaryYear: {} };


            $scope.getFiltedSeminaryYears = function (filterValue) {
                if (!filterValue) {
                    return $scope.seminaryYears.filter(function (sy) {
                        return !$scope.seminarian.VocationSeminaryYears || !$scope.seminarian.VocationSeminaryYears.some(function (vsy) {
                            return vsy.SeminaryYear.Id == sy.Id;
                        })
                    });
                }
                return $scope.seminaryYears.filter(function (sy) {
                    return sy.Display.indexOf(filterValue) > -1 && (!$scope.seminarian.VocationSeminaryYears || !$scope.seminarian.VocationSeminaryYears.some(function (vsy) {
                        return vsy.SeminaryYear.Id == sy.Id;
                    }));
                })
            }

            $scope.load = function (id) {
                $scope.isEdit = true;
                $http.get('/Seminarian/LoadSeminarianById/' + id)
                    .success(function (data) {
                        data = data.result;
                        data.Date2 = getDate(data.Date2);
                        data.Date7 = getDate(data.Date7);
                        data.Date8 = getDate(data.Date8);
                        data.Parishioner.Display = data.Parishioner.ChristianName + ' ' + data.Parishioner.Name;
                        data.Parishioner.BirthDate = getDate(data.Parishioner.BirthDate);
                        if (data.VocationSeminaryYears) {
                            data.VocationSeminaryYears.forEach(function (vsy) {
                                vsy.ActualStart = getDate(vsy.ActualStart);
                                vsy.ActualEnd = getDate(vsy.ActualEnd);
                                vsy.SeminaryYear.StartAt = getDate(vsy.SeminaryYear.StartAt);
                                vsy.SeminaryYear.EndAt = getDate(vsy.SeminaryYear.EndAt);
                                vsy.SeminaryYear.Display = vsy.SeminaryYear.SeminaryName + ' khóa ' + vsy.SeminaryYear.SeminaryYearCode + ' ' + vsy.SeminaryYear.StartAt.getFullYear() + ' - ' + vsy.SeminaryYear.EndAt.getFullYear();
                                vsy.Status = vsy.Status + '';
                            })
                        }
                        $scope.seminarian = data;
                        $scope.seminarian.NewSeminaryYear = {};

                        $("#createSeminarianModal").modal('show');
                    })
                $scope.$apply();
            }

            $scope.actualStartError = '';

            $scope.addNewSeminaryYear = function () {
                $scope.actualStartError = '';
                if ($scope.seminarian.NewSeminaryYear.ActualStart.getFullYear() > $scope.seminarian.NewSeminaryYear.ActualEnd.getFullYear()) {
                    $scope.actualStartError = 'Năm bắt đầu phải nhỏ hơn hoặc bằng năm kết thúc';
                    return;
                }

                if (!$scope.seminarian.VocationSeminaryYears) {
                    $scope.seminarian.VocationSeminaryYears = [];
                }

                $scope.seminarian.VocationSeminaryYears.push({
                    ActualEnd: $scope.seminarian.NewSeminaryYear.ActualEnd,
                    ActualStart: $scope.seminarian.NewSeminaryYear.ActualStart,
                    SeminaryYear: $scope.seminarian.NewSeminaryYear.SeminaryYear,
                    SeminaryYearId: $scope.seminarian.NewSeminaryYear.SeminaryYear.Id,
                    Status: $scope.seminarian.NewSeminaryYear.Status
                });
                $scope.seminarian.NewSeminaryYear = {};
            }

            $scope.addSeminarian = function () {
                $scope.actualStartError = '';
                $scope.isEdit = false;
                $scope.clearSeminarian();
                $scope.$apply();
            }

            $scope.clearSeminarian = function () {
                $scope.seminarian = { NewSeminaryYear: {} };
                $scope.isEditVocationSeminaryYear = false;
            };

            $scope.getParishioners = function (value) {
                return $http.get('/Parishioner/SearchParishionersForAddSeminarian', {
                    params: {
                        keyword: value,
                        start: 0,
                        length: 10
                    }
                }).then(function (response) {
                    return response.data.Result.map(function (p) {
                        p.Display = p.ChristianName + ' ' + p.Name;
                        p.BirthDate = getDate(p.BirthDate);
                        return p;
                    });
                });
            }

            $scope.changeSeminaryYear = function (model) {
                model.ActualStart = model.SeminaryYear.StartAt;
                model.ActualEnd = model.SeminaryYear.EndAt;
                model.Status = typeof model.Status != 'undefined' ? model.Status : '0';
            }

            $scope.editVocationSeminaryYear = function (vsy) {
                $scope.actualStartError = '';
                $scope.isEditVocationSeminaryYear = true;
                $scope.seminarian.NewSeminaryYear = angular.copy(vsy);
            }

            $scope.saveEditVocationSeminaryYear = function () {
                $scope.actualStartError = '';
                if ($scope.seminarian.NewSeminaryYear.ActualStart.getFullYear() > $scope.seminarian.NewSeminaryYear.ActualEnd.getFullYear()) {
                    $scope.actualStartError = 'Năm bắt đầu phải nhỏ hơn hoặc bằng năm kết thúc';
                    return;
                }

                for (var i = 0; i < $scope.seminarian.VocationSeminaryYears.length; i++) {
                    let vsy = $scope.seminarian.VocationSeminaryYears[i];
                    if (vsy.SeminaryYear.Id == $scope.seminarian.NewSeminaryYear.SeminaryYear.Id) {
                        $scope.seminarian.VocationSeminaryYears[i] = {
                            ActualEnd: $scope.seminarian.NewSeminaryYear.ActualEnd,
                            ActualStart: $scope.seminarian.NewSeminaryYear.ActualStart,
                            SeminaryYear: $scope.seminarian.NewSeminaryYear.SeminaryYear,
                            SeminaryYearId: $scope.seminarian.NewSeminaryYear.SeminaryYear.Id,
                            Status: $scope.seminarian.NewSeminaryYear.Status
                        }
                        break;
                    }
                }
                $scope.seminarian.NewSeminaryYear = {};
                $scope.isEditVocationSeminaryYear = false;
            }

            $scope.cancelEditVocationSeminaryYear = function () {
                $scope.seminarian.NewSeminaryYear = {};
                $scope.isEditVocationSeminaryYear = false;
            }

            $scope.deleteVocationSeminaryYear = function (vsy, $index) {
                if ($scope.seminarian.NewSeminaryYear.SeminaryYear && $scope.seminarian.NewSeminaryYear.SeminaryYear.Id == vsy.SeminaryYear.Id) {
                    $scope.cancelEditVocationSeminaryYear();
                }
                vsy.Deleted = true;
            }

            $scope.undeleteVocationSeminaryYear = function (vsy, $index) {
                vsy.Deleted = false;
            }

            $scope.createSeminarian = function () {
                if (!validateSeminarian()) {
                    return;
                }

                var model = getPostModel();

                $http.post('/Seminarian/AddSeminarian', model)
                    .success(function (response) {
                        processResponse(response, 'Thêm chủng sinh thành công', 'Thêm chủng sinh không thành công');
                    }).error(function (error, status) {
                        showMessage('[' + status + '] Thêm chủng sinh không thành công', 0, 6000);
                    })
            }

            $scope.updateSeminarian = function () {
                if (!validateSeminarian()) {
                    return;
                }

                var model = getPostModel();

                $http.post('/Seminarian/UpdateSeminarian', model)
                    .success(function (response) {
                        processResponse(response, 'Cập nhật chủng sinh thành công', 'Cập nhật chủng sinh không thành công');
                    }).error(function (error, status) {
                        showMessage('[' + status + '] Cập nhật chủng sinh không thành công', 0, 6000);
                    })
            }

            $scope.deleteSeminarian = function (id) {
                bootbox.dialog({
                    closeButton: false,
                    message: "Bạn có chắc muốn xóa chủng sinh này không?",
                    title: "Xác nhận",
                    buttons: {
                        danger: {
                            label: " Xóa",
                            className: "ace-icon fa fa-trash-o btn-danger",
                            callback: function () {
                                $http.post("/Seminarian/DeleteSeminarian/" + id).success(function (response) {
                                    if (response.Error) {
                                        showMessage("Xóa chủng sinh thất bại", 0);
                                    } else {
                                        showMessage("Xóa chủng sinh thành công", 1);
                                        refreshSeminarianTable();
                                    }
                                })
                            }
                        },
                        main: {
                            label: " Đóng",
                            className: "ace-icon fa fa-times btn-default",
                            callback: function () {
                            }
                        }
                    }
                });
            }

            function processResponse(response, successMessage, notSuccessMessage) {
                if (response.Error) {
                    if (response.Errors) {
                        response.Errors.forEach(function (error) {
                            showMessage(error, 0, 6000);
                        })
                    } else {
                        showMessage(notSuccessMessage, 0, 6000);
                    }
                } else {
                    showMessage(successMessage, 1, 6000);
                    $scope.closeSeminarianModal();
                    refreshSeminarianTable();
                }
            }

            function getPostModel() {
                return {
                    Parishioner: {
                        Id: $scope.seminarian.Parishioner.Id
                    },
                    VocationSeminaryYears: $scope.seminarian.VocationSeminaryYears.filter(function (vsy) { return !vsy.Deleted }).map(function (vsy) {
                        return {
                            ActualStart: vsy.ActualStart,
                            ActualEnd: vsy.ActualEnd,
                            SeminaryYearId: vsy.SeminaryYear.Id,
                            Status: vsy.Status
                        }
                    })
                };
            }

            function validateSeminarian() {
                if (!$scope.seminarian.Parishioner || !$scope.seminarian.Parishioner.Id) {
                    showMessage("Chưa chọn chủng sinh", 0, 6000);
                    return false;
                }

                if (!$scope.seminarian.VocationSeminaryYears || $scope.seminarian.VocationSeminaryYears.length == 0
                    || $scope.seminarian.VocationSeminaryYears.every(function (vsy) { return vsy.Deleted })) {
                    showMessage("Cần chọn ít nhất một niên khóa cho chủng sinh", 0, 6000);
                    return false;
                }

                return true;
            }

            $scope.closeSeminarianModal = function () {
                $scope.clearSeminarian();
                $("#createSeminarianModal").modal('hide');
            }
        }]);

        //bootstrap angular app
        angular.element(document).ready(function () {
            angular.bootstrap(document, ['myApp']);
        });
    </script>
}
