
    <div style="margin: 0px auto; width: 430px;">
        <div class="col-sm-6 background-image" style="border-style:solid;border-width:3px;">
            <div class="col-sm-5 text-center" style="margin-top:5%;">
                <h4>The Bishop’s Office</h4>
                <h4>of Xuân Lộc Diocese</h4>
                <h4>VIỆT NAM</h4>
            </div>
            <div class="col-sm-71 text-center" style="margin-top:5%;">
                <h3 style="font-weight:bold;">CERTIFICATE</h3>
                <h4 style="padding-top: 11px;">OF RELIGIOUS IDENTITY</h4>
            </div>
            <div class="col-sm-12 text-right" style="font-weight:bold;font-size:16px;">The Bishop of Xuân Lộc Diocese certificates that</div>
            <div class="col-sm-12" style="margin-top:5%;margin-bottom:5%">
                <div class="col-sm-3">
                    <img src="[ImageURL]" class="img-thumbnail" width="160" height="240" />
                </div>
                <div class="col-sm-7">
                    <span style="text-transform: uppercase;" class="text-content">[PriestName]</span><br />
                    <span class="caption">Date of birth: </span><span class="text-content">[BirthDate]</span><br />
                    <span class="caption">ID No.: </span><span class="text-content">[Code]</span><br />
                    <span class="caption">Addr.: </span><span class="text-content">[Address]</span><br />
                    <span class="caption">Tel: </span><span class="text-content">[Phone]</span><br />
                    <span class="text-content">Is a member of the Congregation of Servants of Jesus the High-Priest</span>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="page-break"></div>
    <div style="margin:0 auto; width: 430px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 background-image" style="border-style:solid;border-width:3px;">
            <div class="col-sm-12 text-center" style="margin-top:5%;">
                <h3 style="font-weight:bold;">CERTIFICATE</h3>
                <h4>OF RELIGIOUS IDENTITY</h4>
            </div>
            <div class="col-sm-12 text-center" style="font-size:18px;margin-top:2%;">This certificate is a proof of the holder’s identity<br />Issued date : [CurrentDate]</div>
            <div class="col-sm-12" style="margin-top:20%; margin-bottom:5%;">
                <div class="col-sm-12 text-center" style="font-size:16px;margin-top:2%;font-weight:bold;text-transform:uppercase">DIOCESE NAME: [DioceseName]</div>
                <div class="col-sm-12 text-center" style="font-size:16px;font-weight:bold;"> BISHOP OF XUÂN LỘC DIOCESE</div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
<div class="page-break"></div>