@{
    ViewBag.Title = "Index";
}
<!-- Page Header -->
<div class="page-header">
    <h1>Danh sách linh mục</h1>
</div>
<!-- End Page Header -->
<div class="row">
    <div class="space-4"></div>
    <div class="col-xs-12">
        <div class="col-sm-12">
            <!-- Button Show Popup To Add New Priest -->
            <button id="btnCreatePriest" class="btn btn-success" data-toggle="modal">
                <i class="ace-icon fa fa-plus"></i> Thêm linh mục
            </button>
            <!-- End Button Show Popup To Add New Priest -->
            <!-- Button Print Priest -->
            <button class="btn btn-info" onclick="printPriest()">
                <i class="ace-icon fa fa-print"></i> In thẻ linh mục
            </button>
            <!-- End Button Print Priest -->
            <!-- Import Priest Infomation with EXCEL -->
            <div style="display: inline-block;">
                @using (Html.BeginForm("ImportFromExcel", "Priest", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm_import_priest" }))
                {
                    <div class="btn btn-info">
                        <input type="file" name="file" id="selectExcelFile" accept=".xls,.xlsx" />
                    </div>
                    @*<button id="btnImportPriest" type="submit" class="btn btn-info">
                        <i class="ace-icon fa fa-plus"></i> Bắt đầu Import
                    </button>*@
                }
                <script>
                    $("#selectExcelFile").change(function () {
                        if (confirm("Bạn có chắc đã chọn đúng file và muốn thực hiện việc nhập này?")) {
                            $("#frm_import_priest").submit();
                            return true;
                        }
                        return false;
                    });
                </script>
            </div>
            <!-- End Import Priest Infomation with EXCEL -->
        </div>
    </div>
</div>
<div class="col-xs-12">
    <div class="space-8"></div>
    <!-- Table View Priest -->
    <table id="priestTable" class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>
                    <label class="position-relative">
                        <input type="checkbox" class="ace" />
                        <span class="lbl"></span>
                    </label>
                </th>
                <th>Tên thánh</th>
                <th>Họ tên</th>
                <th>Hình ảnh</th>
                <th>Ngày sinh</th>
                <th>Số điện thoại</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <!-- End Table View Priest -->
</div>

<!-- Popup Priest Modal -->
<div id="PriestModal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="widget-box transparent">
                <!-- Modal Header -->
                <div class="widget-header align-center">
                    <h3 class="widget-title lighter" id="PriestModalTitle"> </h3>
                    <div class="widget-toolbar no-border">
                        <a href="#" onclick="$('#btnClosePriestModal').click()">
                            <i class="ace-icon fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <!-- End Modal Header -->
                <!-- Modal Body -->
                <div class="widget-body">
                    <div class="space-10"></div>
                    <div class="col-sm-12 ui-sortable">
                        <div class="widget-box transparent ui-sortable-handle">
                            <div class="form-horizontal">
                                <!-- Modal Priest Id Textbox -->
                                <input type="hidden" id="txtIdModal" value="" class="form-control" />
                                <!-- End Modal Priest Id Textbox -->
                                <!-- Modal Priest ImageURL -->
                                <div class="form-group" id="priestImageModal">
                                    <label class="col-sm-3 control-label no-padding-right"></label>
                                    <div class="col-sm-6">
                                        <img class="" id="imgPriestThumbnail" src="" />
                                    </div>
                                </div>
                                <!-- End Modal Priest ImageURL -->
                                <div class="space-10"></div>
                                <!-- Modal Priest Code Textbox -->
                                <div class="form-group align-left" id="ParishionerCodeModal">
                                    <label class="col-sm-3 control-label no-padding-right">Mã linh mục&nbsp;(<span style="color: red">*</span>)</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="txtParishionerCodeModal" value="" class="form-control christian">
                                        <label class="text-danger" id="lbParishionerCodeErrorModal" hidden=""></label>
                                    </div>
                                </div>
                                <!-- End Modal Priest Code Textbox -->
                                <!-- Modal Christian Name Textbox -->
                                <div class="form-group align-left" id="ChristianNameModal">
                                    <label class="col-sm-3 control-label no-padding-right">Tên thánh&nbsp;(<span style="color: red">*</span>)</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="txtChristianNameModal" value="" class="form-control christian">
                                        <label class="text-danger" id="lbChristianNameErrorModal" hidden=""></label>
                                    </div>
                                </div>
                                <!-- End Modal Christian Name Textbox -->
                                <!-- Modal Full Name Textbox -->
                                <div class="form-group align-left" id="FullNameModal">
                                    <label class="col-sm-3 control-label no-padding-right">Họ tên&nbsp;(<span style="color: red">*</span>)</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="txtFullNameModal" value="" class="form-control parishionerName">
                                        <label class="text-danger" id="lbFullNameErrorModal" hidden=""></label>
                                    </div>
                                </div>
                                <!-- End Modal Full Name Textbox -->
                                <!-- Modal Birthday Textbox -->
                                <div class="form-group align-left" id="BirthdayModal">
                                    <label class="col-sm-3 control-label no-padding-right">Ngày sinh&nbsp;(<span style="color: red">*</span>)</label>
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <input class="form-control date-picker" id="txtBirthDateModal" type="text" data-date-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" />
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar bigger-110"></i>
                                            </span>
                                        </div>
                                        <label class="text-danger" id="lbBirthDateErrorModal" hidden=""></label>
                                    </div>
                                </div>
                                <!-- End Modal Birthday Textbox -->
                                <!-- Modal Phone Textbox -->
                                <div class="form-group align-left" id="PhoneModal">
                                    <label class="col-sm-3 control-label no-padding-right">Số Điện Thoại</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="txtPhoneModal" value="" class="form-control">
                                    </div>
                                </div>
                                <!-- End Modal Phone Textbox -->
                                <!-- Modal Parishioner Id Textbox -->
                                <input type="hidden" id="txtParishionerId" value="" class="form-control" />
                                <!-- End Modal Parishioner Id Textbox -->
                                <!-- Modal Upload New ImageURL -->
                                <div class="form-group" id="newImageModal">
                                    <label class="col-sm-3 control-label no-padding-right">Hình đại diện</label>
                                    <div class="col-sm-6">
                                        <div class="widget-box">
                                            <div class="widget-body">
                                                <div class="widget-main">
                                                    <div class="form-group">
                                                        <div class="space-10"></div>
                                                        <div class="col-sm-12" id="newPriestImageModal">
                                                            @using (Html.BeginForm("UploadPriestImage", "Priest", FormMethod.Post, new { enctype = "multipart/form-data", id = "ImgForm", name = "ImgForm", target = "UploadTarget" }))
                                                            {
                                                                <input multiple="" name="inputFile" type="file" id="inputFile" />
                                                            }
                                                            <iframe id="UploadTarget" name="UploadTarget" onload="UploadImage_Complete();" style="position: absolute; left: -999em; top: -999em;"></iframe>
                                                            <label class="text-danger" id="priestImageValidate" hidden=""></label>
                                                        </div>
                                                    </div>
                                                    <label>
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Modal New Upload ImageURL -->
                                <!-- Modal Footer -->
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-12 col-sm-12">
                                            <div class="form-group align-right">
                                                <!-- Modal Button Add New Priest -->
                                                <button id="btnResetPriestModal" class="btn btn-primary" data-toggle="modal" onclick="clearModalPriest()">
                                                    <i class="ace-icon fa fa-refresh"></i> Thiết lập lại
                                                </button>
                                                <!-- Modal Button Add New Priest -->
                                                <button id="btnCreatePriestModal" class="btn btn-primary" data-toggle="modal" onclick="UploadImage()">
                                                    <i class="ace-icon fa fa-save"></i> Lưu
                                                </button>
                                                <!-- Modal Button Update Priest -->
                                                <button id="btnUpdatePriestModal" class="btn btn-primary" data-toggle="modal" onclick="UploadImage()">
                                                    <i class="ace-icon fa fa-save"></i> Cập Nhật
                                                </button>
                                                <!-- Modal Button Close Modal Priest -->
                                                <button id="btnClosePriestModal" class="btn btn-grey" data-toggle="modal">
                                                    <i class="ace-icon fa fa-times"></i> Đóng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Modal Footer -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Modal Body -->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- End Popup Priest Modal -->
<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="background-color: rgba(0,0,0,0.9);position: fixed;padding-top: 100px;">
    <img id="imgPriestImage" src="" style="margin:auto; margin-left:40%;margin-right:40%">
    <div id="ImageName" style="margin:auto; margin-left:40%;width:300px; text-align:center;color: #ccc; padding: 10px 0; height: 150px;"></div>
</div><!-- /.modal -->
<!-- Khoan add start -->
<style>
    .ui-autocomplete {
        overflow-y: auto;
        overflow-x: auto;
        max-height: 300px;
    }

    .ui-menu .ui-menu-item {
        white-space: nowrap;
    }
</style>
<script>
    //function addParishoner() {
    //    openParishionerModal(-1, -1, function (id) {
            
    //    });
    //}
    //Upload Images
    function UploadImage() {
        if (!checkValidate()) {
            return;
        }
        $("#ImgForm").submit();
    }

    function UploadImage_Complete() {
        var url = $("#UploadTarget").contents().find('body').html();
        if (url.substring(0, 4) == "<pre") {
            url = "";
        }
        if ($("#btnUpdatePriestModal").css('display') == 'none') {
            addNewPriest(url);
        }
        if ($("#btnCreatePriestModal").css('display') == 'none') {
            updatePriest(url);
        }
    }
    jQuery(function ($) {
        $('#inputFile').ace_file_input({
            style: 'well',
            btn_choose: 'Thả hình vào đây hoặc click vào để chọn',
            btn_change: null,
            no_icon: 'ace-icon fa fa-picture-o',
            droppable: true,
            thumbnail: 'fit',
            allowExt: ['jpg', 'jpeg', 'png'],
            denyExt: 'exe|php|dll|txt',
            preview_error: function (filename, error_code) {
            },
            before_change: function (files, dropped) {
                var valid_files = [];
                for (var i = 0; i < files.length; i++) {
                    var file = files[i];
                    if (typeof file === 'string') {
                        valid_files.push(file);
                        $("#priestImageValidate").hide();
                        break;
                    } else if ('File' in window && file instanceof window.File) {
                        valid_files.push(file);
                        $("#priestImageValidate").hide();
                        break;
                    }
                }
                return valid_files;
            }

        }).on('file.error.ace', function (event, info) {
            $("#priestImageValidate").html("Chỉ hỗ trợ với những ảnh có định dạng jpg, jpeg, png");
            $("#priestImageValidate").show();
        });
    });

    InitDatatable();

    //Function LoadDataTable
    function InitDatatable() {
        $("#priestTable").dataTable({
            "bRetrieve": true,
            "bServerSide": true,
            "bScrollCollapse": true,
            "sAjaxSource": "/Priest/LoadParishDatatable",
            "oLanguage": {
                "sSearch": "Tên linh mục",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "sInfoEmpty": "",
                "oPaginate": {
                    "sPrevious": "Trước",
                    "sNext": "Sau"
                }
            },
            "columns": [
            {
                "data": "Id",
                "bVisible": false,
            },
            {
                "data": "ParishionerId",
                "render": function (data, type, full, meta) {
                    var content = '<label class="position-relative">' +
                        '<input type="checkbox" class="ace pItem" value="' + data + '" stype=""/>' +
                        '<span class="lbl"></span> </label>';
                    return content;
                },
                "bSortable": false
            },
            { "data": "ChristianName" },
            { "data": "Name" },
            {
                "data": "ThumbnailURL",
                "render": function (data, type, full, meta) {
                    if(data && data.lastIndexOf("/") != data.length - 1) {
                        var content = '<img class="" src="' + data + '" style="width: 35px;height:45px" />';
                        return content;
                    }
                    return "[No Image]";
                },
                "bSortable": false,
                "sWidth": "15%"
            },
            { "data": "BirthDate" },
            { "data": "Phone" },
            {
                "data": "Id",
                "render": function (data, type, full, meta) {
                    var content = '<button class="btn btn-minier btn-primary" onclick="LoadPriestByPriestId(' + data + ')"><i class="ace-icon fa fa-pencil"></i>Sửa</button>' +
                        '<button class="btn btn-minier btn-danger" onclick="DeleteConfirm(' + data + ')">' + '<i class="ace-icon fa fa-trash-o"></i>Xóa</button>';
                    return content;
                },
                "bSortable": false,
                "sWidth": "15%"
            },
            ],
            "bAutoWidth": false,
        });
    }

    //Button Create Priest Event
    $("#btnCreatePriest").click(function () {
        '<%Session["ImageName"] = "";%>';

        $("#PriestModalTitle").html("Thêm mới linh mục");
        $("#ParishionerCodeModal").hide();
        $("#priestImageModal").hide();
        $("#btnCreatePriestModal").show();
        $("#btnResetPriestModal").show();
        $("#btnUpdatePriestModal").hide();
        $("#PriestModal").modal('show');
    });

    //Button Close Modal Priest Event
    $("#btnClosePriestModal").click(function () {
        $("#PriestModal").modal('hide');
        clearModalPriest();
    });

    //Function Check validate input parishioner Code
    function checkParishionerCode() {
        var parishionerCode = $("#txtParishionerCodeModal").val();
        var isError = false;
        if (!parishionerCode) {
            $("#lbParishionerCodeErrorModal").html("Vui lòng nhập mã của linh mục");
            $("#lbParishionerCodeErrorModal").show();
            isError = true;
        } else {
            $("#lbParishionerCodeErrorModal").hide();
            $("#lbParishionerCodeErrorModal").html("");
        }
        if (isError) {
            return false;
        }
        return true;
    }

    //Function validate input
    function checkValidate() {
        var christianName = $("#txtChristianNameModal").val();
        var name = $("#txtFullNameModal").val();
        var birthdate = $("#txtBirthDateModal").val();
        var phone = $("#txtPhoneModal").val();
        var isError = false;
        if (!christianName) {
            $("#lbChristianNameErrorModal").html("Vui lòng nhập tên thánh của linh mục");
            $("#lbChristianNameErrorModal").show();
            isError = true;
        } else {
            $("#lbChristianNameErrorModal").hide();
            $("#lbChristianNameErrorModal").html("");
        }
        if (!name) {
            $("#lbFullNameErrorModal").html("Vui lòng nhập họ tên linh mục");
            $("#lbFullNameErrorModal").show();
            isError = true;
        } else {
            $("#lbFullNameErrorModal").hide();
            $("#lbFullNameErrorModal").html("");
        }
        if (!birthdate) {
            $("#lbBirthDateErrorModal").html("Vui lòng nhập ngày tháng năm sinh của linh mục");
            $("#lbBirthDateErrorModal").show();
            isError = true;
        } else {
            $("#lbBirthDateErrorModal").hide();
            $("#lbBirthDateErrorModal").html("");
        }
        if (!checkYearOldPriest()) {
            isError = true;
        }
        if (isError) {
            return false;
        }
        return true;
    }

    //Check Priest Yearold
    function checkYearOldPriest() {
        var date = $("#txtBirthDateModal").val();
        var result = true;
        $.ajax({
            url: "/Priest/CheckYearOld",
            type: "POST",
            data: { date: date },
            success: function (data) {
                if (data.result < 220000) {
                    $("#lbBirthDateErrorModal").html("Linh mục phải từ 22 tuổi trở lên");
                    $("#lbBirthDateErrorModal").show();
                    result = false;
                } else {
                    $("#lbBirthDateErrorModal").html("");
                    $("#lbBirthDateErrorModal").hide();
                    result = true;
                }

            },
        });
        return result;
    }

    //Auto Complete Christian Name
    $(".christian").autocomplete({
        autoFocus: true,
        source: function (request, response) {
            $.ajax({
                url: "/Parishioner/LoadChristianName",
                dataType: "json",
                data: {
                    name: request.term
                },
                success: function (data) {
                    response(data.result);
                }
            });
        },
        minLength: 0,
        select: function (event, ui) {
            $('#txtFullNameModal').autocomplete("option", "disabled", true);
        }
    }).focus(function () {
        $(this).autocomplete("search");
    });

    //Auto Complete Full Name
    // Khoan del start
    /*
    $(".parishionerName").autocomplete({
        autoFocus: true,
        source: function (request, response) {
            $.ajax({
                url: "/Parishioner/getAllParishionerByName",
                dataType: "json",
                data: { name: request.term },
                success: function (data) {
                    //console.log(JSON.stringify(data.result));
                    response($.map(data.result, function (v, k) {
                        return {
                            label: v.Name,
                            ChristianName: v.ChristianName,
                            Birthdate: v.BirthDate,
                            Phone: v.MobilePhone,
                            ParishionerId: v.Id
                        };
                    }));
                }
            });
        },
        minLength: 0,
        select: function (event, ui) {
            $('#txtChristianNameModal').val(ui.item.ChristianName);
            $('#txtChristianNameModal').prop('readonly', true);
            $('#txtChristianNameModal').autocomplete("option", "disabled", true);
            $('#txtBirthDateModal').val(ui.item.Birthdate);
            $('#txtPhoneModal').val(ui.item.Phone);
            $('#txtPhoneModal').prop('readonly', true);
            $('#txtParishionerId').val(ui.item.ParishionerId);
        }
    }).focus(function () {
        $(this).autocomplete("search");
    });
    */
    // Khoan del end

    // Khoan add start
    autocomplete("#txtFullNameModal", "/Parishioner/LoadParishionerByName", function (item) {
        $("#txtFullNameModal").val(item.Name);
        $('#txtChristianNameModal').val(item.ChristianName);
        $('#txtBirthDateModal').val(item.Birthdate);
        $('#txtPhoneModal').val(item.Phone);
        $('#txtParishionerId').val(item.ParishionerId);
    });
    // Khoan add end

    //Function add New Priest
    function addNewPriest(url) {
        if (!checkValidate()) {
            return;
        }
        startLoading();
        var ImageURL = url;
        $.ajax({
            url: "/Priest/AddPriest",
            type: "POST",
            data: {
                ChristianName: $("#txtChristianNameModal").val(),
                Name: $("#txtFullNameModal").val(),
                BirthDate: $("#txtBirthDateModal").val(),
                Phone: $("#txtPhoneModal").val(),
                ParishionerId: $("#txtParishionerId").val(),
                ImageURL: ImageURL
            },
            success: function (data) {
                if (data.result <= 0) {
                    showMessage("Thêm linh mục thất bại", 0);
                } else {
                    updateTableContent("priestTable");
                    showMessage("Thêm linh mục thành công", 1);
                    clearModalPriest();
                    $("#PriestModal").modal('hide');
                    refeshTable();
                }
            },
        });
    }

    //Fuction Load Priest By Id to Update
    function LoadPriestByPriestId(id) {
        $("#ParishionerCodeModal").show();
        $("#priestImageModal").show();
        $("#newImageModal").show();
        $.ajax({
            url: "/Priest/LoadPriestById",
            type: "POST",
            data: { id: id },
            success: function (data) {
                var item = data.result;
                $("#txtIdModal").val(item.Id);
                $("#txtParishionerCodeModal").val(item.Code);
                $("#txtChristianNameModal").val(item.ChristianName);
                $("#txtFullNameModal").val(item.Name);
                document.getElementById("ImageName").innerHTML = item.Name;
                $('#txtFullNameModal').autocomplete("option", "disabled", true);
                $("#txtBirthDateModal").val(item.BirthDate);
                $("#txtPhoneModal").val(item.Phone);
                $("#txtParishionerId").val(item.ParishionerId);
                $("#imgPriestImage").attr('src', item.ImageURL);
                if (item.ImageURL == null) {
                    $("#priestImageModal").hide();
                } else {
                    $("#imgPriestThumbnail").attr('src', item.ThumbnailURL);
                    $("#priestImageModal").show();
                }
                $("#PriestModalTitle").html("Chỉnh sửa linh mục");
                $("#PriestModal").modal('show');
                $("#btnUpdatePriestModal").show();
                $("#btnCreatePriestModal").hide();
                $("#btnResetPriestModal").hide();
            },
        });
    }

    //Update Priest
    function updatePriest(url) {
        if (!checkValidate()) {
            return;
        }
        if (!checkParishionerCode()) {
            return;
        }
        var ImageURL;
        if (url == "") {
            ImageURL = $("#imgPriestThumbnail").attr('src');
        } else {
            ImageURL = url;
        }
        $.ajax({
            url: "/Priest/UpdatePriest",
            type: "POST",
            data: {
                Id: $("#txtIdModal").val(),
                ChristianName: $("#txtChristianNameModal").val(),
                Name: $("#txtFullNameModal").val(),
                BirthDate: $("#txtBirthDateModal").val(),
                Phone: $("#txtPhoneModal").val(),
                ParishionerId: $("#txtParishionerId").val(),
                Code: $("#txtParishionerCodeModal").val(),
                ImageURL: ImageURL
            },
            success: function (data) {
                if (data.result == 0) {
                    showMessage("Cập nhật thông tin linh mục thất bại", 0);
                    $("#lbParishionerCodeErrorModal").html("Mã linh mục đã tồn tại");
                    $("#lbParishionerCodeErrorModal").show();
                } else if (data.result < 0) {
                    showMessage("Cập nhật thông tin linh mục thất bại", 0);
                } else {
                    showMessage("Cập nhật thông tin linh mục thành công", 1);
                    $("#lbParishionerCodeErrorModal").html("");
                    $("#lbParishionerCodeErrorModal").hide();
                    $("#PriestModal").modal('hide');
                    clearModalPriest();
                    refeshTable();
                }
            },

        });
    }

    //Function Delete Confirm Priest
    function DeleteConfirm(id) {
        bootbox.dialog({
            closeButton: false,
            message: "Bạn có chắc muốn xóa linh mục này không?",
            title: "Xác nhận",
            buttons: {
                danger: {
                    label: " Xóa",
                    className: "ace-icon fa fa-trash-o btn-danger",
                    callback: function () {
                        DeletePriest(id);
                    }
                },
                main: {
                    label: " Đóng",
                    className: "ace-icon fa fa-times btn-default",
                    callback: function () {
                    }
                }
            }
        });
    }

    //Function Delelte Priest
    function DeletePriest(id) {
        $.ajax({
            url: "/Priest/DeletePriest",
            type: "POST",
            data: { id: id },
            success: function (data) {

                if (data.result <= 0) {
                    showMessage("Xóa linh mục thất bại", 0);
                } else {
                    showMessage("Xóa linh mục thành công", 1);
                    updateTableContent("priestTable");
                    refeshTable();
                    clearModalPriest();
                }

            },
        });
    }

    //Function refesh Table
    function refeshTable() {
        $("#priestTable").dataTable()._fnAjaxUpdate();
    }

    //Function Clear Modal Priest
    function clearModalPriest() {
        $('#txtIdModal').val("");

        $("#txtChristianNameModal").val("");
        $("#lbChristianNameErrorModal").val("");
        $("#lbChristianNameErrorModal").hide();
        $('#txtChristianNameModal').prop('readonly', false);
        $('#txtChristianNameModal').autocomplete("option", "disabled", false);

        $("#txtFullNameModal").val("");
        $("#lbFullNameErrorModal").val("");
        $("#lbFullNameErrorModal").hide();
        $('#txtFullNameModal').autocomplete("option", "disabled", false);

        $("#txtBirthDateModal").val("");
        $("#lbBirthDateErrorModal").val("");
        $("#lbBirthDateErrorModal").hide();

        $("#txtPhoneModal").val("");
        $('#txtPhoneModal').prop('readonly', false);

        $('#txtParishionerId').val("");

        $('#inputFile').ace_file_input('reset_input');

        $("#priestImageValidate").html("");
        $("#priestImageValidate").hide();
    }

    //Function Print Priest
    function printPriest() {
        var checks = new Array();
        $(".pItem:checked").each(function () {
            if ($(this).is(':checked')) {
                checks.push($(this).val());
            }
        });
        if (checks.length > 0) {
            var ids = sessionStorage.getItem("ids");
            if (ids == null) {
                sessionStorage.setItem("ids", JSON.stringify(checks));
            } else {
                sessionStorage.setItem("ids", JSON.stringify(checks));
            }
            var url = "/Priest/PrintPage";
            window.open(url, '_blank');
        } else {
            showMessage("Vui lòng chọn ít nhất một giáo dân để thực hiện in chứng nhận", -1);
        }
    }

    $('img').on('click', function () {
        $('#imageModal').modal('show');
    });
</script>