@using PMS.DataAccess.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="/Content/assets/js/bootstrap-wysiwyg.min.js"></script>
<script src="/Content/assets/js/jquery.hotkeys.min.js"></script>

<div class="page-header">
    <h1>Thư mời và báo cáo</h1>
</div>
<div class="page-header">
    <button id="btnCreateReport" class="btn btn-success" data-toggle="modal">
        <i class="ace-icon fa fa-plus"></i> Thêm
    </button>
</div>

<div class="widget-body">

    <table id="tblLetterAndReportTable" class="table table-hover">

        <thead>
            <tr>
                <th></th>
                <th>
                    <label class="position-relative">
                        <input type="checkbox" class="ace" />
                        <span class="lbl"></span>
                    </label>
                </th>
                <th>Tên </th>
                <th>Tên Loại</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@*popup*@
<div id="letterandreportModal" data-backdrop="static" data-keyboard="true" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="widget-box transparent">
                <div class="widget-header center">
                    <h4 id="accountTitle" class="widget-title lighter">Thêm </h4>
                    <div class="widget-toolbar no-border">
                        <a href="#" onclick="$('#btnCloseReportModal').click()">
                            <i class="ace-icon fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <input type="hidden" id="txtId" class="form-control">
                <div class="widget-body">
                    <div class="space-10"></div>
                    <div class="form-horizontal">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <div class="col-sm-1"></div>
                                <label class="col-sm-1 control-label no-padding-right align-left">Tên&nbsp;(<span style="color: red">*</span>)</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" id="txtTen" value="" class="form-control">
                                        <span class="input-group-addon">
                                            <i class="fa fa-child"></i>
                                        </span>
                                    </div>
                                    <label id="lbTenError" class="text-danger" hidden=""></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div  class="form-group">
                                <div class="col-sm-1"></div>
                                <label class="col-sm-1 control-label no-padding-right align-left">Loại&nbsp;(<span style="color: red">*</span>)</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <select class="form-control" id="cbbLoai">
                                            <option value="0"></option>
                                            @foreach (var item in ((List<ValueSet>) ViewBag.Loai))
                                            {
                                                <option value="@item.Code">@item.Definition</option>
                                            }
                                        </select>
                                        <span class="input-group-addon">
                                            <i class="fa fa-cog"></i>
                                        </span>
                                    </div>
                                    <label id="lbLoaiError" class="text-danger" hidden=""></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div id="divMoTa" class="form-group">
                                <div class="col-sm-1"></div>
                                <label class="col-sm-1 control-label no-padding-right align-left"> Mô Tả&nbsp;(<span style="color: red">*</span>) </label>
                                <div class="col-sm-9">
                                    <textarea id="textareaMoTa" rows="4" cols="10" style="width: 100%"></textarea>
                                    <label id="lbMoTaError" class="text-danger" hidden=""></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div id="" class="form-group">
                                <div class="col-sm-1"></div>
                                <label class="col-sm-1 control-label no-padding-right align-left"> Mẫu&nbsp;(<span style="color: red">*</span>) </label>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div id="divMau" class="form-group">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                    <div style="max-height: 841.8898px !important; height: 841.8898px !important;" class="wysiwyg-editor center-block template" id="txttextEditor">
                                    </div>
                                    <label id="lbMauError" class="text-danger" hidden=""></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-sm-12">
                                    <div class="align-right">
                                        <button id="btnCreateReportModal" class="btn btn-primary" type="button" onclick="AddLetterAndReport()">
                                            <i class="ace-icon fa fa-save bigger-110"></i>
                                            Lưu
                                        </button>
                                        <button id="btnUpdateReportModal" class="btn btn-primary" type="button" onclick="UpdateLetterAndReport()">
                                            <i class="ace-icon fa fa-save bigger-110"></i>
                                            Cập nhật
                                        </button>
                                        <button id="btnCloseReportModal" class="btn btn-default">
                                            <i class="ace-icon fa fa-times  bigger-110"></i>
                                            Đóng
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    InitDatatable();
    function InitDatatable() {

        $("#tblLetterAndReportTable").dataTable({
            "bRetrieve": true,
            "bServerSide": true,
            "bSCrollCollapse": true,
            "sAjaxSource": "/LetterAndReport/LoadLetterAndReportDataTables",

            "oLanguage": {
                "sSearch": "Tìm thư và báo cáo",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "sInfoEmpty": "",
                "oPaginate": {
                    "sPrevious": "Trước",
                    "sNext": "Sau"
                }
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0],
                    "bVisible": false,
                },
                {
                    "aTargets": [1],
                    "render": function (data, type, full, meta) {
                        var content = '<label class="position-relative">' +
                                      '<input type="checkbox" class="ace" value="' + data + '"/>' +
                                      '<span class="lbl"></span> </label>';
                        return content;
                    },
                    "bVisible": false,
                    "bSortable": false,
                },
                      {
                          "aTargets": [4],
                          "render": function (data, type, full, meta) {
                              var content = '<button class="btn btn-minier btn-primary" onclick="LoadDataModal(' + data + ')"><i class="ace-icon fa fa-pencil"></i>Sửa</button>' +
                                    '<button class="btn btn-minier btn-danger" onclick="DeleteConfirm(' + data + ')">' + '<i class="ace-icon fa fa-trash-o"></i>Xóa</button>';
                              return content;
                          },
                          "bSortable": false,
                          "sWidth": "15%"
                      }
            ],
            "bAutoWidth": false,
        });
    }
    //kết thúc đỗ dữ liệu lên bảng


    function ClearModal() {
        $("#txtTen").val('');
        $("#cbbLoai").val(0);
        $("#textareaMoTa").val('');
        $("#txttextEditor").html("");

        //$("#lbTenError").hide('');
    }

    //Thêm xóa sửa báo cáo và thư mời
    function AddLetterAndReport() {
        $("#btnUpdateReportModal").hide();
        $("#btnCreateReportModal").show();
        if (!checkValidate()) {
            return;
        }
        //if (!checkValidTen()) {
        //    $("#lbTenError").html("Tên đã tồn tại");
        //    $("#lbTenError").show();
        //    return;
        //} else {
        //    $("#lbTenError").hide();
        //    $("#lbTenError").html("");
        //}
        startLoading();
        $.ajax({
            url: "/LetterAndReport/AddLetterAndReport",
            type: "POST",
            data: {
                Ten: $("#txtTen").val(),
                Loai: $("#cbbLoai").val(),
                MoTa: $("#textareaMoTa").val(),
                Mau: $("#txttextEditor").html()
            },
            success: function (data) {

                if (data > 0) {
                    updateTableContent("tblLetterAndReportTable");//id cua table
                    showMessage("Thêm thành công", 1);
                    ClearModal();
                    $("#letterandreportModal").modal('hide');//id cua modal
                } else {
                    showMessage("Thêm thất bại, vui lòng thử lại sau", 0);
                }
            },
        });
        ClearModal();
    }

    $("#btnCreateReport").click(function () {
        $("#letterandreportModal").modal('show');
        $("#btnCreateReportModal").show();
        $("#btnUpdateReportModal").hide();
    });
    $("#btnCloseReportModal").click(function () {
        $("#letterandreportModal").modal('hide');
        $("#lbTenError").hide();
        $("#lbLoaiError").hide();
        $("#lbMoTaError").hide();
        $("#lbMauError").hide();
        ClearModal();
    });

    $('#txttextEditor').ace_wysiwyg().prev().addClass('wysiwyg-style1');


    function LoadDataModal(id) {
        $("#txtTen").val(id);
        $("#txtTen").show();
        $.ajax({
            url: "/LetterAndReport/LoadLetterAndReportById",
            type: "POST",
            data: { Id: id },
            success: function (data) {

                var item = data.result;
                $("#txtId").val(item.Id);
                $("#txtTen").val(item.Ten);
                $("#cbbLoai").val(item.Loai);
                $("#textareaMoTa").val(item.MoTa);
                $("#txttextEditor").html(item.Mau);


                $("#accountTitle").html("Chỉnh sửa");//để hiện tên của cái popup khi tiến hành sửa
                $("#letterandreportModal").modal('show');
                $("#btnUpdateReportModal").show();
                $("#btnCreateReportModal").hide();
            },
        });
    }

    function refeshTable() {
        $("#tblLetterAndReportTable").dataTable()._fnAjaxUpdate();
    }

    function UpdateLetterAndReport() {
        if (!checkValidate()) {
            return false;
        }
        var id = $("#txtId").val();
        var ten = $("#txtTen").val();
        var loai = $("#cbbLoai").val();
        var mota = $("#textareaMoTa").val(); textareaMoTa
        var mau = $("#txttextEditor").html();
        $.ajax({
            url: "/LetterAndReport/UpdateLetterAndReport",
            type: "POST",
            data: {
                Id: id,
                Ten: ten,
                Loai: loai,
                MoTa: mota,
                Mau: mau

            },
            success: function (data) {

                if (data.result <= 0) {
                    showMessage("Cập nhật thất bại", 0);
                } else {
                    showMessage("Cập nhật thành công", 1);
                    $("#letterandreportModal").modal('hide');
                    refeshTable();
                    ClearModal();
                }
            },
        });
    }



    function DeleteConfirm(id) {
        bootbox.dialog({
            message: "Bạn có chắc muốn xóa không?",
            title: "Xác nhận",
            buttons: {
                danger: {
                    label: " Xóa",
                    className: "ace-icon fa fa-trash-o btn-danger",
                    callback: function () {
                        DeleteLetterAndReport(id);
                        refeshTable();
                    }
                },
                main: {
                    label: " Đóng",
                    className: "ace-icon fa fa-times btn-default",
                    callback: function () {

                    }
                }
            }
        });
    }

    function DeleteLetterAndReport(id) {
        $.ajax({
            url: "/LetterAndReport/DeleteLetterAndReport",
            type: "POST",
            data: { id: id },
            success: function (data) {

                if (data.result <= 0) {
                    showMessage("Không thể !", 0);
                } else {
                    showMessage("Xóa  thành công", 1);
                    refeshTable();
                    ClearModal();
                }

            },
        });
    }

    //kiêm tra check userAgent co trung hay ko
    function checkValidTen() {
        var result = false;
        $.ajax({
            url: "/LetterAndReport/CheckTen",
            type: "POST",
            async: false,
            data: {
                ten: $("#txtTen").val()

            },
            success: function (data) {

                if (data == 1) {
                    result = true;
                }

            },
        });

        return result;
    }

    //khai báo hàm check validate
    function checkValidate() {
        var isError = false;

        var ten = $("#txtTen").val();
        var mota = $("#textareaMoTa").val();
        var mau = $.trim($("#txttextEditor").html());
        var loai = $("#cbbLoai").val();

        if (!ten) {
            $("#lbTenError").html("Vui lòng nhập tên ");
            $("#lbTenError").show();
            isError = true;
        } else {
            $("#lbTenError").hide();
            $("#lbTenError").html("");
        }

        if (loai == 0) {
            $("#lbLoaiError").html("Vui lòng chọn loại");
            $("#lbLoaiError").show();
            isError = true;
        } else {
            $("#lbLoaiError").hide();
            $("#lbLoaiError").html("");
        }

        if (!mota) {
            $("#lbMoTaError").html("Vui lòng mô tả");
            $("#lbMoTaError").show();
            isError = true;
        } else {
            $("#lbMoTaError").hide();
            $("#lbMoTaError").html("");
        }

        if (!mau) {
            $("#lbMauError").html("Vui lòng nhập mẫu");
            $("#lbMauError").show();
            isError = true;
        } else {
            $("#lbMauError").hide();
            $("#lbMauError").html("");
        }
        if (isError) {
            return false;
        } 
        return true;  
    }
</script>

